@charset "utf-8";
/* c0 */
.contain.about{}
.contain.about .sec u{display:inline-block;vertical-align: 0;border: 0.5px solid transparent;border-bottom-color: #000000;padding: 0.0% 0px;text-decoration: none;line-height: 140%;}
.contain.about .sec img{max-width: initial;}
.contain.about .sec{position:relative;overflow: hidden;}
.contain.about .sec>.in{max-width: 1280px;margin: auto;position:relative;text-align: center;}
.contain.about .sec.c0>.in{min-height: 956px;}
.contain.about .sec.c0{ background: #000; }
.contain.about .sec.c0 .vsimg{width: 100%;margin: auto;}
.contain.about .sec.c0 .vsimg .img{background: url(../images/about/visual.jpg) repeat-x center top;position: absolute;left: 50%;top: 0;width: 100%;min-width: 1920px;transform: translateX(-50%);padding-bottom: 956px;background-size: contain;}
.contain.about .sec.c0 .logo{position:absolute;left:15px;top: 45px;width:160px;height:64px;background:url(../images/about/logo.png) no-repeat;background-size: 100% auto;font-size: 0px;}
.contain.about .sec.c0 .txt{padding-top: 420px;text-align:center;}
.contain.about .sec.c0 .txt .tt{font-size: 75px;color: #70f0c4;font-family:"BlairMd";line-height: 100%;}
.contain.about .sec.c0 .txt .ss{font-size: 32px;color: #ffffff;margin-top: 20px;}
.contain.about .sec.c0 .bts{text-align:center;margin-top: 127px;display: flex;justify-content: center;}
.contain.about .sec.c0 .bts .bt{height:50px;padding: 8px 10px;margin: 0 10px;border-radius: 2px;border: #ffffff solid 1px;display:inline-block;vertical-align:middle;font-family:"BlairMd";color: #ffffff;text-transform: uppercase;font-size: 18px;min-width:250px;}
.contain.about .sec.c0 .bts .bt::before{width:32px;height:32px;background: no-repeat;background-size: 100% auto; content:""; display:inline-block; vertical-align:middle;margin-right: 10px;}
.contain.about .sec.c0 .bts .bt.google::before{background-image: url(../images/about/ico_google.png);}
.contain.about .sec.c0 .bts .bt.apple::before{background-image: url(../images/about/ico_apple.png)}

/* c1 */
.contain.about .sec.c1{}
.contain.about .sec.c1>.in{max-width:inherit;}
.contain.about .sec.c1 .slideAbout{padding-top: 50px;}
.contain.about .sec.c1 .slideAbout .swiper-container{padding-bottom: 320px;}
.contain.about .sec.c1 .slideAbout .slide{ }
.contain.about .sec.c1 .slideAbout .slide>li{ text-align: center; }
.contain.about .sec.c1 .slideAbout .slide>li .pic{text-align: center;display: inline-block;vertical-align: middle;}
.contain.about .sec.c1 .slideAbout .slide>li .desc{text-align: center;position: absolute;left: 0;right: 0;padding-top: 50px;}
.contain.about .sec.c1 .slideAbout .slide>li .desc .tit{font-size: 55px;font-family:"BlairMd";text-transform: uppercase;line-height: 130%;}
.contain.about .sec.c1 .slideAbout .slide>li .desc .tit br{display:none;}
.contain.about .sec.c1 .slideAbout .slide>li .desc .msg{font-size: 20px;margin-top: 15px;font-family:"BlairMd","NotoSansCJKkr";}
.contain.about .sec.c1 .slideAbout .slide>li .desc .msg u{}
.contain.about .sec.c1 .slideAbout .slide>li .desc br.dn{display:none;}
.contain.about .sec.c1 img{max-width:100%;}
.contain.about .sec.c1 .slideAbout .navigation{}
.contain.about .sec.c1 .slideAbout .navigation .nav{width:104px;height:104px;margin-top: -130px;background-size: 100% auto;}
.contain.about .sec.c1 .slideAbout .navigation .nav.swiper-button-disabled{background-position-y: -104px;}
.contain.about .sec.c1 .slideAbout .navigation .nav.prev{left: 50%;margin-left: -380px;background-image: url(../images/about/ar_prev.png);}
.contain.about .sec.c1 .slideAbout .navigation .nav.next{right: 50%;margin-right: -380px;background-image: url(../images/about/ar_next.png);}
.contain.about .sec.c1 .slideAbout .pagination{position: relative;left: auto;right: auto;bottom: auto;}
.contain.about .sec.c1 .slideAbout .pagination .swiper-pagination-bullet{margin: 0 10px;width: 9px;height: 9px;padding: 0;}
.contain.about .sec.c1 .slideAbout .pagination .swiper-pagination-bullet::after{width:9px; height:9px;}

/* c2 */
.contain.about .sec.c2{padding: 100px 0px;background: #f6f6f6; height:1508px;}
.contain.about .sec.c2::before,
.contain.about .sec.c2::after{position:absolute;width:4000px;left: 50%;margin-left: -2000px;height: 64px;background: url(../images/about/gage.png) repeat-x;content:"";background-size: auto 128px;}
.contain.about .sec.c2::before{top:0px;background-position: center -64px;}
.contain.about .sec.c2::after{ bottom:0px; background-position:center 0px;}
.contain.about .sec.c2 .hdt{text-align: left;position:absolute;left: 335px;top: 30px;}
.contain.about .sec.c2 .hdt .tit{font-size: 55px;line-height: 110%;font-family:"BlairMd";margin-top: 20px; }
.contain.about .sec.c2 .hdt .msg{font-size: 24px;line-height: 180%;margin-top: 20px;}
.contain.about .sec.c2 .hdt .dec2{position:absolute;left: -290px;top: 360px;}
.contain.about .sec.c2 .set{text-align: left;}
.contain.about .sec.c2 .set .tit{font-size: 34px;line-height: 130%;font-family:"BlairMd";}
.contain.about .sec.c2 .set .msg{font-size: 20px; line-height: 180%; margin-top: 20px;}
.contain.about .sec.c2 .set1{position:absolute;left: 570px;top: 410px;}
.contain.about .sec.c2 .set1 .pic{position:absolute;left: 335px;top: -302px;}
.contain.about .sec.c2 .set1 .dec3{position:absolute;left: -280px;top: 198px;}
.contain.about .sec.c2 .set2{position:absolute;left: 125px;top: 1000px;}
.contain.about .sec.c2 .set2 .pic{position:absolute;left: 335px;top: -290px;}

/* c3 */
.contain.about .sec.c3{padding: 100px 0px;background: #f6f6f6;box-shadow: inset rgba(50,50,50,0.1) 0px 0px 30px; height:1508px;}
.contain.about .sec.c3 .hdt{text-align: left;position:absolute;left: 361px;top: 0px;}
.contain.about .sec.c3 .hdt .tit{font-size: 55px;line-height: 110%;font-family:"BlairMd";margin-top: 20px;}
.contain.about .sec.c3 .hdt .msg{font-size: 24px;line-height: 180%;margin-top: 20px;}
.contain.about .sec.c3 .hdt .dec2{position:absolute;left: -290px;top: 360px;}
.contain.about .sec.c3 .set{text-align: left;z-index: 100;}
.contain.about .sec.c3 .set .tit{font-size: 24px;line-height: 130%;font-family:"BlairMd";}
.contain.about .sec.c3 .set .tit em{width:85px;height:21px;background:#000;text-align: right;font-size: 12px;display:inline-block;color: #ffffff;vertical-align: middle;padding: 0 14px;line-height: 170%;position: absolute;left: -106px;top: 5px;}
.contain.about .sec.c3 .set .msg{font-size: 18px;line-height: 170%;margin-top: 10px;}
.contain.about .sec.c3 .set1{position:absolute;left: 676px;top: 470px;}
.contain.about .sec.c3 .set1 .pic{position:absolute;left: 185px;top: -360px;z-index: -1;}
.contain.about .sec.c3 .set1 .dec2{position:absolute;left: -626px;top: -100px;}
.contain.about .sec.c3 .set2{position:absolute;left: 230px;top: 690px;}
.contain.about .sec.c3 .set2 .pic{position:absolute;left: 213px;top: -6px;}
.contain.about .sec.c3 .set2 .dec3{position:absolute;left: -280px;top: 198px;}
.contain.about .sec.c3 .set3{position:absolute;left: 229px;top: 958px;}
.contain.about .sec.c3 .set3 .pic{position:absolute;left: 335px;top: -302px;}
.contain.about .sec.c3 .set3 .dec3{position:absolute;left: 790px;top: -150px;}
.contain.about .sec.c3 .set4{position:absolute;left: 1080px;top: 1010px;z-index: 50;}
.contain.about .sec.c3 .set4 .pic{position:absolute;left: -429px;top: -2px;}
.contain.about .sec.c3 .set4 .dec3{position:absolute;left: -280px;top: 198px;}

/* c4 */
.contain.about .sec.c4{padding: 80px 0px;}
.contain.about .sec.c4 .hdt{text-align: right;max-width: 610px;margin: 0 auto 50px auto;position: relative;}
.contain.about .sec.c4 .hdt .tit{font-size: 55px;line-height: 110%;font-family:"BlairMd";margin-top: 20px;}
.contain.about .sec.c4 .hdt .msg{font-size: 20px;line-height: 160%;margin-top: 20px;}
.contain.about .sec.c4 .hdt .mss{font-size: 14px;line-height: 160%;margin-top: 5px;color: #a2a2a2;}
.contain.about .sec.c4 .hdt .bts{ position: absolute; left: -60px; bottom: 37px; }
.contain.about .sec.c4 .hdt .bts .bt.reg{width:250px;height:50px;font-size: 18px;padding: 10px 10px;text-align: center;font-family:"BlairMd";background-color:#000000;color: #ffffff;display:inline-block;vertical-align:middle;}
.contain.about .sec.c4 .mids{}
.contain.about .sec.c4 .mids img{position:relative; left:-50%;}
.contain.about .sec.c4 .box{display:flex;justify-content: space-between;max-width: 610px;margin: 50px auto 0px auto;}
.contain.about .sec.c4 .box .set{position:relative;padding-top: 70px;text-align: left;width: 200px;}
.contain.about .sec.c4 .box .set img{position:absolute;right: 0px; top: 0px;}
.contain.about .sec.c4 .box .set .tit{font-size: 20px; font-weight:bold;}
.contain.about .sec.c4 .box .set .msg{font-size: 18px;margin-top: 10px;}

/* c5 */
.contain.about .sec.c5{padding: 100px 0px;background: #f6f6f6;box-shadow: inset rgba(50,50,50,0.1) 0px 0px 30px;}
.contain.about .sec.c5 .icon{width: 230px;margin: 0px auto 10px auto;}
.contain.about .sec.c5 .icon::before{ content:"";background:url(../images/about/ico_fapee.png) no-repeat;background-size: 100% auto;padding-bottom: 100%; display:block;}
.contain.about .sec.c5 .txt{font-size: 32px;font-family:"BlairMd","NotoSansCJKkr";}
.contain.about .sec.c5 .bts{text-align:center;margin-top: 60px;display: flex;justify-content: center;}
.contain.about .sec.c5 .bts .bt{height:50px;padding: 8px 10px;margin: 0 10px;border-radius: 2px;border: #000000 solid 1px;display:inline-block;vertical-align:middle;font-family:"BlairMd";color: #000000;text-transform: uppercase;font-size: 18px;min-width:250px;}
.contain.about .sec.c5 .bts .bt::before{width:32px; height:32px; background: no-repeat; background-size: 100% auto; content:""; display:inline-block; vertical-align:middle; margin-right: 10px;}
.contain.about .sec.c5 .bts .bt.google::before{background-image: url(../images/about/ico_google.png);}
.contain.about .sec.c5 .bts .bt.apple::before{background-image: url(../images/about/ico_apple_2.png)}

/* c6 */
.contain.about .sec.c6{padding: 70px 0px 200px 0px;background: #000000;color: #ffffff;}
.contain.about .sec.c6 .logo{width: 160px;font-size: 0px;display: block;vertical-align:middle;margin: auto;}
.contain.about .sec.c6 .logo::after{width:100%;padding-bottom: 41%;background:url(../images/about/logo.png) no-repeat;background-size: 100% auto;content:"";display:block;}
.contain.about .sec.c6 .copy{font-family:"BlairMd";margin-top: 40px;text-transform: uppercase;}
.contain.about .sec.c6 .info{ margin-top: 10px; }
.contain.about .sec.c6 .info .st{ display:inline-block;  vertical-align:middle; font-size: 14px;}
.contain.about .sec.c6 .info .list{font-size: 0;display:inline-block;vertical-align:middle;font-size: 14px;margin-left: 10px;}
.contain.about .sec.c6 .info .list>li{color: #cacaca; display:inline-block;  vertical-align:middle; font-size: 14px;}
.contain.about .sec.c6 .info .list>li::before{content:"|";margin: 0 10px;}
.contain.about .sec.c6 .info .list>li:first-child::before{display:none;}
.contain.about .sec.c6 .info .list>li a{color: #cacaca;border-bottom: 0.5px solid #cacaca;display:inline-block;vertical-align:middle;}


@media screen and (max-width: 1280px){
	/* c0 */
	.contain.about .sec.c0>.in{min-height: 74.7vw;}
	.contain.about .sec.c0 .logo{width: 12vw;height: 5.4vw;}
	.contain.about .sec.c0 .vsimg .img{padding-bottom: 74.7vw;}
	.contain.about .sec.c0 .txt{padding-top: 30.8vw;}
	.contain.about .sec.c0 .txt .tt{font-size: 5.7vw;}
	.contain.about .sec.c0 .txt .ss{font-size: 2.4vw;margin-top: 2.2vw;}
	.contain.about .sec.c0 .bts{margin-top: 8.5vw;}
	.contain.about .sec.c0 .bts .bt{font-size: 1.5vw;min-width: 20vw;padding: 0.5vw 0.8vw;height: auto;}
	.contain.about .sec.c0 .bts .bt::before{width: 3vw;height: 3vw;margin-right: 0.5vw;}

	/* c2 */
	.contain.about .sec.c2{height: 117.9vw;padding: 8vw 0px;}
	.contain.about .sec.c2::before, 
	.contain.about .sec.c2::after{height: 5vw;background-size: auto 10vw;background-position: center -5vw;}
	.contain.about .sec.c2::after{ background-position: center 0vw; }
	.contain.about .sec.c2 .hdt{left: calc( 100 / 1280 * 165vw );top: calc( 100 / 1280 * 30vw );}
	.contain.about .sec.c2 .hdt .tit{font-size: calc( 100 / 1280 * 55vw );margin-top: calc( 100 / 1280 * 20vw );}
	.contain.about .sec.c2 .hdt .dec1{width: calc( 100 / 1280 * 186vw );}
	.contain.about .sec.c2 .hdt .msg{ font-size: 2vw; margin-top: 1.5vw; }
	.contain.about .sec.c2 .hdt .dec2{left: calc( 100 / 1280 * -120vw );top: calc( 100 / 1280 * 360vw );width: calc( 100 / 1280 * 234vw );}
	.contain.about .sec.c2 .set .tit{font-size: 2.7vw;}
	.contain.about .sec.c2 .set .msg{font-size: 1.6vw;margin-top: 1.6vw;}
	.contain.about .sec.c2 .set1{left: calc( 100 / 1280 * 490vw );top: calc( 100 / 1280 * 410vw );}
	.contain.about .sec.c2 .set1 .pic{left: 31.2vw;width: 25.3vw;top: -23.6vw;}
	.contain.about .sec.c2 .set1 .dec3{left: calc( 100 / 1280 * -280vw );top: calc( 100 / 1280 * 198vw );width: calc( 100 / 1280 * 232vw );}
	.contain.about .sec.c2 .set2{left: calc( 100 / 1280 * 165vw );top: calc( 100 / 1280 * 1000vw );}
	.contain.about .sec.c2 .set2 .pic{left: calc( 100 / 1280 * 365vw );top: calc( 100 / 1280 * -290vw );width: calc( 100 / 1280 * 590vw );}

	/* c3 */
	.contain.about .sec.c3{height:calc( 100 / 1280 * 1508vw );padding: calc( 100 / 1280 * 100vw ) 0;}
	.contain.about .sec.c3 .hdt{}
	.contain.about .sec.c3 .hdt{left: calc( 100 / 1280 * 361vw );top: 0px;}
	.contain.about .sec.c3 .hdt .dec1{ width: calc( 100 / 1280 * 66vw ); }
	.contain.about .sec.c3 .hdt .tit{font-size: calc( 100 / 1280 * 55vw );margin-top: calc( 100 / 1280 * 20vw );}
	.contain.about .sec.c3 .hdt .msg{font-size: 24px;line-height: 180%;margin-top: 20px;}
	.contain.about .sec.c3 .hdt .dec2{left: -290px;top: 360px;}
	.contain.about .sec.c3 .set .tit{font-size: calc( 100 / 1280 * 24vw );}
	.contain.about .sec.c3 .set .tit em{width: calc( 100 / 1280 * 85vw );height: auto;font-size: calc( 100 / 1280 * 12vw );padding: 0 calc( 100 / 1280 * 14vw );left: calc( 100 / 1280 * -106vw );top: calc( 100 / 1280 * 5vw );}
	.contain.about .sec.c3 .set .msg{font-size: calc( 100 / 1280 * 18vw );margin-top: calc( 100 / 1280 * 10vw );}
	.contain.about .sec.c3 .set1{left: calc( 100 / 1280 * 676vw );top: calc( 100 / 1280 * 470vw );}
	.contain.about .sec.c3 .set1 .pic{left: calc( 100 / 1280 * 185vw );top: calc( 100 / 1280 * -360vw );width: calc( 100 / 1280 * 335vw );}
	.contain.about .sec.c3 .set1 .dec2{left: calc( 100 / 1280 * -646vw );top: calc( 100 / 1280 * -100vw );width: calc( 100 / 1280 * 237vw );}
	.contain.about .sec.c3 .set2{left: calc( 100 / 1280 * 230vw );top: calc( 100 / 1280 * 690vw );}
	.contain.about .sec.c3 .set2 .pic{left: calc( 100 / 1280 * 213vw );top: calc( 100 / 1280 * -6vw );width: calc( 100 / 1280 * 320vw );}
	.contain.about .sec.c3 .set2 .dec3{left: calc( 100 / 1280 * -280vw );top: 198px;}
	.contain.about .sec.c3 .set3{left: calc( 100 / 1280 * 229vw );top: calc( 100 / 1280 * 958vw );}
	.contain.about .sec.c3 .set3 .pic{left: 335px;top: -302px;}
	.contain.about .sec.c3 .set3 .dec3{left: calc( 100 / 1280 * 790vw );top: calc( 100 / 1280 * -150vw );width: calc( 100 / 1280 * 210vw );}
	.contain.about .sec.c3 .set4{left: calc( 100 / 1280 * 910vw );top: calc( 100 / 1280 * 1070vw );}
	.contain.about .sec.c3 .set4 .pic{left: calc( 100 / 1280 * -429vw );top: calc( 100 / 1280 * -2vw );width: calc( 100 / 1280 * 320vw );}
	.contain.about .sec.c3 .set4 .dec3{left: -280px;top: 198px;}

	/* c4 */
	.contain.about .sec.c4{padding:calc( 100 / 1280 * 80vw ) 0px;}
	.contain.about .sec.c4 .hdt{max-width: calc( 100 / 1280 * 610vw );margin: 0 auto calc( 100 / 1280 * 50vw ) auto;}
	.contain.about .sec.c4 .hdt .tit{font-size: calc( 100 / 1280 * 55vw );margin-top: calc( 100 / 1280 * 20vw );}
	.contain.about .sec.c4 .hdt .msg{font-size: calc( 100 / 1280 * 20vw );margin-top: calc( 100 / 1280 * 20vw );}
	.contain.about .sec.c4 .hdt .mss{font-size: calc( 100 / 1280 * 14vw );margin-top: calc( 100 / 1280 * 5vw );}
	.contain.about .sec.c4 .hdt .bts{left: calc( 100 / 1280 * -60vw ); bottom: calc( 100 / 1280 * 37vw ); }
	.contain.about .sec.c4 .hdt .bts .bt.reg{width: auto;height: auto;font-size: calc( 100 / 1280 * 18vw );padding: calc( 100 / 1280 * 10vw ) 2vw;}
	.contain.about .sec.c4 .mids{}
	.contain.about .sec.c4 .mids img{left:-50%;width:calc( 100 / 1280 * 2560vw );}
	.contain.about .sec.c4 .box{max-width: calc( 100 / 1280 * 770vw );margin: calc( 100 / 1280 * 50vw ) auto 0px auto;}
	.contain.about .sec.c4 .box .set{padding-top: calc( 100 / 1280 * 60vw );width: calc( 100 / 1280 * 280vw );}
	.contain.about .sec.c4 .box .set img{width:calc( 100 / 1280 * 52vw );}
	.contain.about .sec.c4 .box .set .tit{font-size: calc( 100 / 1280 * 20vw );}
	.contain.about .sec.c4 .box .set .msg{font-size: calc( 100 / 1280 * 18vw );margin-top: calc( 100 / 1280 * 10vw );}

	/* c5 */
	.contain.about .sec.c5{padding: calc( 100 / 1280 * 100vw ) 0px;}
	.contain.about .sec.c5 .icon{width: calc( 100 / 1280 * 230vw );margin: 0px auto calc( 100 / 1280 * 10vw ) auto;}
	.contain.about .sec.c5 .txt{font-size: calc( 100 / 1280 * 32vw );}
	.contain.about .sec.c5 .bts{ margin: 4vw -10px 0; }
	.contain.about .sec.c5 .bts .bt{height: auto;padding: 8px 10px;margin: 0 10px;font-size: calc( 100 / 1280 * 18vw );min-width: 21vw;}
	.contain.about .sec.c5 .bts .bt::before{width:calc( 100 / 1280 * 32vw ); height:calc( 100 / 1280 * 32vw ); margin-right: 10px;}

	/* c6 */
	.contain.about .sec.c6 { padding: 50px 0px 80px 0px; }
	.contain.about .sec.c6 .copy{}
	.contain.about .sec.c6 .info{margin-top: 30px;}
	.contain.about .sec.c6 .info .st{display:block;}
	.contain.about .sec.c6 .info .list{margin-left: 0px;}
	.contain.about .sec.c6 .info .list>li{font-size: 12px;}
}

@media screen and (max-width: 960px){
	/* c0 */
	.contain.about .sec.c0 .txt .ss{font-size: 3.4vw; margin-top: 5vw;}

	/* c1 */
	.contain.about .sec.c1 .slideAbout{padding-top: 5vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .pic{}
	.contain.about .sec.c1 .slideAbout .slide>li .pic img{width: 71vw;}
	.contain.about .sec.c1 .slideAbout .swiper-container{padding-bottom: 32vw;}
	.contain.about .sec.c1 .slideAbout .navigation .nav{width:10vw;height:10vw;top: 52vw;margin-top: -17vw;}
	.contain.about .sec.c1 .slideAbout .navigation .nav.prev{margin-left: -40vw;}
	.contain.about .sec.c1 .slideAbout .navigation .nav.next{margin-right: -40vw;}
	.contain.about .sec.c1 .slideAbout .pagination .swiper-pagination-bullet{margin: 0px 1vw;width: 1vw;height: 1vw;}
	.contain.about .sec.c1 .slideAbout .pagination .swiper-pagination-bullet::after{width:1vw; height:1vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc{padding-top: 7vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .tit{font-size: 6vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .msg{font-size: 2.4vw;margin-top: 2vw;}

}
@media screen and (max-width: 640px){
	/* c2 */
	.contain.about .sec.c2{height:auto;padding: 50px 20px;}
	.contain.about .sec.c2 .hdt{position:relative;left: auto; top: auto;}
	.contain.about .sec.c2 .hdt .tit{font-size: 30px;}
	.contain.about .sec.c2 .hdt .msg{font-size: 22px;}
	.contain.about .sec.c2 .hdt .dec2{right: 10%;top: 20px;left: auto;width: 23%;}
	.contain.about .sec.c2 .set{position:relative;left: auto;top: auto;margin-top: 60px;}
	.contain.about .sec.c2 .set .tit{font-size: 25px;}
	.contain.about .sec.c2 .set .msg{font-size: 18px;margin-top: 10px;}
	.contain.about .sec.c2 .set .pic{position:relative;left: auto;top: auto;width:auto;margin:20px auto;display:block;max-width: 50%;}
	.contain.about .sec.c2 .set1 .dec3{left: auto;top: 10px;right: 0%;}
	.contain.about .sec.c2 .set2 .pic{max-width: 85%;}

	/* c3 */
	.contain.about .sec.c3{height:auto;padding: 50px 20px;}
	.contain.about .sec.c3 .hdt{position:relative;left: auto; top: auto;}
	.contain.about .sec.c3 .hdt .tit{font-size: 30px;}
	.contain.about .sec.c3 .hdt .msg{font-size: 22px;}
	.contain.about .sec.c3 .hdt .dec1{width: calc( 100 / 1280 * 33px);}
	.contain.about .sec.c3 .hdt .dec2{right: 10%;top: 20px;left: auto;width: 23%;}
	.contain.about .sec.c3 .set{position:relative;left: auto;top: auto;margin-top: 50px;overflow: hidden;}
	.contain.about .sec.c3 .set .tit{font-size: 25px;}
	.contain.about .sec.c3 .set .tit em{position:relative;left:auto;top: auto;display:block;margin-bottom: 10px;width: 50px;font-size: 10px;}
	.contain.about .sec.c3 .set .msg{font-size: 18px;}
	.contain.about .sec.c3 .set .pic{position:relative;right: 0%;left: auto;top: 0;width:auto;margin: 0px auto;display:block;max-width: 50%;float: right;}
	.contain.about .sec.c3 .set1 .dec2{left: 10px;top: 50%;}
	.contain.about .sec.c3 .set3 .dec3{left: auto;top: 10px;right: 10%;}
	.contain.about .sec.c3 .set2 .pic{ }

	/* c4 */
	.contain.about .sec.c4{height:auto;padding: 50px 20px;}
	.contain.about .sec.c4 .hdt{max-width:100%;margin-bottom: 6vw;}
	.contain.about .sec.c4 .hdt .tit{font-size: 24px;}
	.contain.about .sec.c4 .hdt .msg{font-size: 16px;}
	.contain.about .sec.c4 .hdt .mss{font-size: 14px;}
	.contain.about .sec.c4 .hdt .bts{left: 0px;top: 0;bottom: auto;}
	.contain.about .sec.c4 .hdt .bts .bt.reg{font-size: 11px;padding: 5px 20px;}
	.contain.about .sec.c4 .mids{margin: 0 -20px;position: relative;}
	.contain.about .sec.c4 .mids img{width: 320vw;left: 50%;transform: translateX(-50%);}
	.contain.about .sec.c4 .box{max-width:100%;margin-top: 6vw;}
	.contain.about .sec.c4 .box .set{width: calc(50% - 30px);padding-top: 33px;}
	.contain.about .sec.c4 .box .set .tit{font-size: 16px;}
	.contain.about .sec.c4 .box .set .msg{font-size: 14px;}
	.contain.about .sec.c4 .box .set img{width:30px;}

	/* c5 */
	.contain.about .sec.c5 {padding: 30px 20px 30px;}
	.contain.about .sec.c5 .icon{width:100px;}
	.contain.about .sec.c5 .txt{font-size: 16px;}
	.contain.about .sec.c5 .bts .bt{font-size: 10px;margin: 0 5px;min-width: 150px;padding: 3px 3px;border-width: 0.5px;}
	.contain.about .sec.c5 .bts .bt::before{width:20px;height: 20px;margin-right: 3px;}

	/* c6 */
	.contain.about .sec.c6{padding: 40px 20px;}
	.contain.about .sec.c6 .logo{width: 120px;}
	.contain.about .sec.c6 .copy{margin: 4vw -20px 0;font-size: 9px;}
	.contain.about .sec.c6 div[class] .st{font-size: 12px;}
	.contain.about .sec.c6 .info .list>li{font-size: 10px;}
}

@media screen and (max-width: 425px){
	/* c0 */
	.contain.about .sec.c0>.in{min-height: 317px;}
	.contain.about .sec.c0 .logo{width: 80px;height: 34px;top: 22px;}
	.contain.about .sec.c0 .vsimg .img{padding-bottom:317px;}
	.contain.about .sec.c0 .txt{padding-top: 134px;}
	.contain.about .sec.c0 .txt .tt{font-size: 27px;}
	.contain.about .sec.c0 .txt .ss{font-size: 16px;}
	.contain.about .sec.c0 .bts{margin-top: 30px;}
	.contain.about .sec.c0 .bts .bt{font-size: 10px;min-width: 130px;padding: 0.8vw 0.9vw;height: auto;border-width: 0.5px;}
	.contain.about .sec.c0 .bts .bt::before{width: 18px;height: 18px; margin-right: 2px;}

	/* c1 */
	.contain.about .sec.c1 .slideAbout .swiper-container{padding-bottom: 40vw;}
	.contain.about .sec.c1 .slideAbout .navigation .nav{display:none;}
	.contain.about .sec.c1 .slideAbout .slide>li .pic img{width: 80vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc{padding-top: 9vw;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .tit{line-height: 110%;font-size: 22px;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .tit br{display:block;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .msg{font-size: 11px;margin-top: 12px;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc .msg u{border-bottom-width: 0.5px;}
	.contain.about .sec.c1 .slideAbout .slide>li .desc br.dn{display:block;}

	/* c2 */
	.contain.about .sec.c2 .hdt .tit{font-size: 24px;}
	.contain.about .sec.c2 .hdt .msg{font-size: 16px;margin-top: 10px;}
	.contain.about .sec.c2 .set .tit{font-size: 18px;}
	.contain.about .sec.c2 .set .msg{font-size: 14px;}

	/* c3 */
	.contain.about .sec.c3 .hdt .tit{font-size: 24px;}
	.contain.about .sec.c3 .set .tit{font-size: 18px;}
	.contain.about .sec.c3 .set .msg{font-size: 14px;}

	/* c4 */
	.contain.about .sec.c4 .box .set .msg br{display:none;}

	/* c5 */
	.contain.about .sec.c5 .bts .bt{ min-width: 130px;}
	.contain.about .sec.c5 .bts .bt::before{width:20px;height: 20px;margin-right: 3px;}

	/* c6 */
	.contain.about .sec.c6{padding: 30px 20px 40px  20px;}
	.contain.about .sec.c6 .logo{width: 60px;}
	.contain.about .sec.c6 .copy{margin: 4vw -20px 30px;font-size: 7px;}
	.contain.about .sec.c6 .info[class]{margin-top: 20px;}
	.contain.about .sec.c6 .info .st{font-size: 9px;margin-top: 10px;}
	.contain.about .sec.c6 .info .list{line-height: 110%;}
	.contain.about .sec.c6 .info .list>li a{line-height: 180%;}
	.contain.about .sec.c6 .info .list>li::before{ content:""; margin: 0 4px;}
	.contain.about .sec.c6 .info .list>li{font-size: 9px;}

}