@charset "utf-8";
/* 로긴,가입 */
.popJoinPre{}
.popJoinPre .poptents{}
.popJoinPre .box{padding: 0px 0px 30px 0px;text-align: center;}
.popJoinPre .box .hdt{font-size: 24px;color: #000000; font-family:"BlairMd";}
.popJoinPre .box .hdt em{ }
.popJoinPre .box .bts{margin-top: 40px;font-family: "BlairMd";border-top: #000000 solid 1px;}
.popJoinPre .box .bts .bt{width:100%;display:block;border-bottom: #000000 solid 1px;padding: 7px 0px;font-size: 16px;}
.popJoinPre .joinSet{min-height: 160px;text-align: center;width: 100%;padding: 24px 0px;}
.popJoinPre .joinSet .hdt{font-size: 10px;font-family: "BlairMd";text-transform: uppercase;text-align: left;padding: 0 16px;}
.popJoinPre .joinSet .list{margin: auto;margin-top: 13px;border-top: #000000 solid 1px;}
.popJoinPre .joinSet .list>li{font-family: "BlairMd";text-transform: uppercase;font-size: 9px;border-bottom: #000000 solid 1px;}
.popJoinPre .joinSet .list>li .bt{display: block;padding: 2px 0px;}
.popJoinPre .joinSet .list>li .bt span{display: inline-block;min-width: 97px;}
.popJoinPre .joinSet .list>li .bt::before{ content:"";width:20px;height:20px; background:no-repeat; background-size: 100% auto; display:inline-block;  font-size: 0px; vertical-align: middle;}
.popJoinPre .joinSet .list>li.instar .bt::before{background-image:url(../images/common/ico_instargram.png);}
.popJoinPre .joinSet .list>li.kakao .bt::before{background-image:url(../images/common/ico_kakaotalk.png);}
.popJoinPre .joinSet .list>li.facebook .bt::before{background-image:url(../images/common/ico_facebook.png);}



/* 로그인 */
.popLogin{}
.popLogin .poptents{}
.popLogin .loginForm{padding: 0px 16px 20px 16px;}
.popLogin .loginForm .hdt{font-size: 24px;text-align: center;color: #000000; font-family:"BlairMd";}
.popLogin .loginForm .hdt em{}
.popLogin .loginForm .form{margin-top: -5px;}
.popLogin .loginForm .form .uiIptPlc{}
.popLogin .loginForm .form .uiIptPlc .plc{}
.popLogin .loginForm .form .uiIptPlc .input{}
.popLogin .loginForm .form .msg_error{margin-top: 4px;}
.popLogin .loginForm .form .btns{margin-top: 12px;}
.popLogin .loginForm .form .btns .btn{width:100%;}
.popLogin .loginForm .info{display:flex; justify-content: space-between; font-size: 12px; align-items: center; margin-top: 10px;}
.popLogin .loginForm .info .save{}
.popLogin .loginForm .info .save label{}
.popLogin .loginForm .info .txt{}
.popLogin .loginForm .info .txt .link{display: block;padding: 4px 0; font-family:"BlairMd"; text-decoration: underline; font-size: 11px; color: #333333;}

.popLogin .gudJoin{font-family:"BlairMd";text-align: center;height: 54px;}
.popLogin .gudJoin>.in{height: 54px;position:fixed;bottom: 60px;left:0;right: 0px;background: #ffffff;}
.popLogin .gudJoin .line{font-size: 12px; position:relative;}
.popLogin .gudJoin .line:before{content:"OR";background-color: #ffffff;position:relative;z-index: 10;padding: 0 5px;}
.popLogin .gudJoin .line:after{content:"";background: #000000;position:absolute;left:16px;right: 16px;height:1px;top: 9px;} 
.popLogin .gudJoin .msg{font-size: 11px;padding: 2px 0px;}
.popLogin .gudJoin .msg .txt{}
.popLogin .gudJoin .msg .link{text-decoration: underline;color: #70f5c4;display: inline-block;vertical-align: middle;padding: 3px 0;margin-left: 4px;}


/* 가입 */
.popJoin{}
.popJoin .poptents{}
.popJoin .joinForm{padding: 0px 16px 20px 16px;}
.popJoin .joinForm .hdt{font-size: 24px;text-align: center;color: #000000;font-family:"BlairMd";margin-bottom: 23px;}
.popJoin .joinForm .hdt em{}
.popJoin .joinForm .form{margin-top: -5px;}
.popJoin .joinForm .form .memcate{display:flex;justify-content: center;margin: 25px 0px 0px 0px;}
.popJoin .joinForm .form .memcate .radio{margin: 0 10px;font-size: 12px;}
.popJoin .joinForm .form .uiIptPlc{}
.popJoin .joinForm .form .uiIptPlc .plc{
    text-transform: inherit;
}
.popJoin .joinForm .form .uiIptPlc .input{}
.popJoin .joinForm .form .uiIptPlc .time{position:absolute;top: 31px;right: 2px;color: #fd5555;font-size: 12px;}
.popJoin .joinForm .form .msgs{margin-top: 8px; font-size: 12px; color: #999999;}
.popJoin .joinForm .form .btns{margin-top: 20px;}
.popJoin .joinForm .form .btns .btn{width:100%;}
.popJoin .joinForm .form .agree{position:relative;margin-top: 25px;}
.popJoin .joinForm .form .agree .txt{font-size: 12px;}
.popJoin .joinForm .form .agree .txt a{text-decoration:underline;display: inline-block;vertical-align: middle;padding: 1px 0px;}
.popJoin .joinForm .form .agree label.checkbox{position:absolute;right: 0px;top: 2px;}
.popJoin.mo .joinForm .form .uiIptPlc.phone{}
.popJoin.mo .joinForm .form .uiIptPlc.phone input{width: calc(100% - 91px);}
.popJoin.mo .joinForm .form .uiIptPlc.phone .btnSend{position:absolute; right: 0px; bottom: 0px; width: 83px;}
.popJoin.mo .joinForm .form .msgcode{/* padding: 5px 0px; */font-size: 12px;margin-top: 8px;}
.popJoin.mo .joinForm .form .findpws{ display: block;padding: 4px 0; font-family:"BlairMd"; text-decoration: underline; font-size: 11px; color: #333333;}






/* 비밀번호찾기 */
.contain.findPw{}
.contain.findPw .poptents{}
.contain.findPw .findForm{padding: 0px 16px 20px 16px;}
.contain.findPw .findForm .hdt{font-size: 24px;text-align: center;color: #000000;font-family: "BlairMd","NotoSansCJKkr";margin-bottom: 23px;}
.contain.findPw .findForm .hdt em{}
.contain.findPw .findForm .msg{ font-size: 12px;}
.contain.findPw .findForm .form{margin-top: -5px;}
.contain.findPw .findForm .form .memcate{display:flex;justify-content: center;margin: 25px 0px 0px 0px;}
.contain.findPw .findForm .form .memcate .radio{margin: 0 10px;font-size: 12px;}
.contain.findPw .findForm .form .uiIptPlc{    margin-top: 10px;}
.contain.findPw .findForm .form .uiIptPlc .plc{
    text-transform: inherit;
}
.contain.findPw .findForm .form .uiIptPlc .input{}
.contain.findPw .findForm .form .msgs{margin-top: 8px;font-size: 12px;}
.contain.findPw .findForm .form .btns{margin-top: 20px;}
.contain.findPw .findForm .form .btns .btn{width:100%;}
.contain.findPw .findForm .form .uiIptPlc.phone{}
.contain.findPw .findForm .form .uiIptPlc.phone input{width: calc(100% - 91px);}
.contain.findPw .findForm .form .uiIptPlc.phone .btnSend{position:absolute; right: 0px; bottom: 0px; width: 83px;}
.contain.findPw .findForm .form .uiIptPlc .time{position:absolute;top: 31px;right: 2px;color: #fd5555;font-size: 12px;}
.contain.findPw .findForm .form .msgcode{font-size: 12px;margin-top: 8px;}
.contain.findPw .findForm .form .findpws{ display: block;padding: 4px 0; font-family:"BlairMd"; text-decoration: underline; font-size: 11px; color: #333333;}
.contain.findPw .findForm .form .agree{ position:relative; margin-top: 15px;}
.contain.findPw .findForm .form .agree .txt{font-size: 11px;}
.contain.findPw .findForm .form .agree label.checkbox{position:absolute; right: 0px; top: -4px;}

/* 비밀번호찾 재설정 */
.contain.findPw.rst .poptents{}
.contain.findPw.rst .findForm .form{margin-top: 42px;}
.contain.findPw.rst .findForm .form .pw{margin-bottom:10px;}
.contain.findPw.rst .findForm .form .pw .input{ font-size: 12px;;}
.contain.findPw.rst .findForm .form .pw.now{margin-bottom: 38px;}
.contain.findPw.rst .findForm .form .pw.new{}
.contain.findPw.rst .findForm .form .pw.com{}
.contain.findPw.rst .findForm .form .uiIptPlc .plc{font-size:13px;}
.contain.findPw.rst .findForm .form .uiIptPlc .input:focus + .plc{font-size:12px;}
.contain.findPw.rst .findForm .msgs{ font-size: 12px; margin-top: 10px;}

/* 비밀번호찾기 완료 */
.contain.findPw .poptents{}
.contain.findPw .findForm .coms{text-align: center;padding-top: calc( 50vh - 216px );}
.contain.findPw .findForm .coms::before{width:90px;height:90px;background:url(../images/common/pwFindComIco1.png) no-repeat;background-size: 100% auto;content:"";display: block;margin: 0px auto 27px auto;}
.contain.findPw .findForm .coms .txt{font-size: 16px;}


/* 이메일인증 완료 */
.contain.findPwCerti{}
.contain.findPwCerti {}
.contain.findPwCerti .hdt{font-size: 24px;text-align: center;color: #000000;font-family:"BlairMd";margin-bottom: 23px;}
.contain.findPwCerti .sec.certi{margin: 0px 16px ;}
.contain.findPwCerti .sec.certi .infos{text-align: center;}
.contain.findPwCerti .sec.certi .infos .email{font-size: 15px;color: #fd5555;}
.contain.findPwCerti .sec.certi .infos .bts{margin-top: 25px;}
.contain.findPwCerti .sec.certi .infos .bts .btnSend{height:33px;padding: 0 15px;}
.contain.findPwCerti .sec.certi .guds{font-size: 12px; margin-top: 30px;}
.contain.findPwCerti .sec.certi .form{margin-top: 30px; position:relative;}
.contain.findPwCerti .sec.certi .form .code{padding-right: 32px;}
.contain.findPwCerti .sec.certi .form .time{position:absolute;top: 10px;right: 2px;color: #fd5555;font-size: 12px;}
.contain.findPwCerti .sec.certi .form .btnCode{position:absolute; top: 0px; right: 00px; min-width:60px;}


/* 이메일인증 완료 */
.contain.certiEmail{}
.contain.certiEmail {}
.contain.certiEmail .hdt{font-size: 24px;text-align: center;color: #000000;font-family: "BlairMd","NotoSansCJKkr";margin-bottom: 23px;}
.contain.certiEmail .sec.certi{margin: 0px 16px ;}
.contain.certiEmail .sec.certi .infos{text-align: center;}
.contain.certiEmail .sec.certi .infos .email{font-size: 15px;color: #fd5555;}
.contain.certiEmail .sec.certi .infos .bts{margin-top: 25px;}
.contain.certiEmail .sec.certi .infos .bts .btnSend{height:33px;padding: 0 15px;}
.contain.certiEmail .sec.certi .guds{font-size: 12px; margin-top: 30px;}
.contain.certiEmail .sec.certi .form{margin-top: 30px; position:relative;}
.contain.certiEmail .sec.certi .form .code{padding-right: 32px;}
.contain.certiEmail .sec.certi .form .time{position:absolute;top: 10px;right: 2px;color: #fd5555;font-size: 12px;}
.contain.certiEmail .sec.certi .form .btnCode{position:absolute; top: 0px; right: 00px; min-width:60px;}


/* 프로필 박스 */
.uiPrfeSet{margin-top: 0px;}
.uiPrfeSet .user{padding: 0px 15px 0px 15px;}
.uiPrfeSet .user .photo{position:relative;width: 62px;margin: auto;}
.uiPrfeSet .user .photo .pic{position:relative;padding-bottom: calc(4% / 3.4 * 100);display:block;}
.uiPrfeSet .user .photo .pic img{width: 100%;height: 100%;border-radius: 100%;position:absolute;left:0;top: 0px;width:100%;object-fit: cover;}
.uiPrfeSet .user .photo .bts{position:absolute;right: -7px;bottom: -7px;}
.uiPrfeSet .user .photo .bts .bt{width: 26px;height: 26px;display:block;font-size: 0px;background-size: 100% auto;}
.uiPrfeSet .user .photo .bts .bt.mod{ background-image: url(../images/common/ico_pic_edit.png)}
.uiPrfeSet .user .infos{margin: 20px auto 25px auto;text-align: center;}
.uiPrfeSet .user .infos .name{font-size: 16px;line-height: 100%; font-family:"BlairMd","NotoSansCJKkr-Md";margin-top: 4px; text-transform: uppercase;}
.uiPrfeSet .user .infos .models{}
.uiPrfeSet .user .infos .models .sel{font-size: 11px;}
.uiPrfeSet .user .infos .models .sel *{font-size: 11px;}
.uiPrfeSet .user .infos .models .sel>.bt{text-align:center;padding-right: 20px;}
.uiPrfeSet .user .infos .models .sel .list{top: 32px;transform: translateX(-50%);left: 50%;}

.uiPrfeSet .user .infos .summ{font-size: 11px;margin-top: 2px;font-family:"BlairMd","NotoSansCJKkr";text-transform: uppercase;display: flex;justify-content: center;}
.uiPrfeSet .user .infos .summ .cm{ }
.uiPrfeSet .user .infos .summ .nt{color: #000000;opacity: 0.5;}
.uiPrfeSet .user .infos .summ .nt:before{ content:","; display: inline-block; vertical-align: middle; margin: 0 5px 0 0 ; height:14px;}
.uiPrfeSet .user .infos .summ .nt:first-child::before{ display:none;}
.uiPrfeSet .user .infos .amount{display:flex;margin-top: 12px;justify-content: center;}
.uiPrfeSet .user .infos .amount .fw{margin: 0 10px;font-family:"BlairMd";text-transform: uppercase;font-size: 10px;border-bottom: #000000 solid 1px;display: inline-block;padding: 1px 3px;}
.uiPrfeSet .user .infos .amount .fwers{}
.uiPrfeSet .user .infos .amount .fwing{}
.uiPrfeSet .user .infos .amount .fw em{line-height: 14px;margin-left: 14px;}
.uiPrfeSet .user .infos .amount .fw i{line-height: 14px;}
.uiPrfeSet .user .infos .bts {position:absolute;right: 7px;top: 75px;}
.uiPrfeSet .user .infos .bts .bt.more{width:44px;height:44px;background:url(../images/common/ico_my_more.png) no-repeat;background-size:100% auto;font-size:0px;float: left;}
.uiPrfeSet .user .infos .foll{margin-top: 3px;margin-bottom: -9px;}
.uiPrfeSet .user .infos .foll label span{}
.uiPrfeSet .user .infos .foll label span::after{ content:"Follow";}
.uiPrfeSet .user .infos .foll label input:checked  + span::after{ content:"Following";}
.uiPrfeSet .desc{padding: 0px 16px 27px 16px;}
.uiPrfeSet .desc .name{font-weight:bold;font-size: 13px;}
.uiPrfeSet .desc .ment{font-size: 13px;color: #101010;position:relative;margin-bottom: 0px;margin-top: 2px;word-break: break-all;}
.uiPrfeSet .desc .ment::before{position:absolute;left: -39px;top: -3px;width:32px;height:32px;/* background: url(../images/common/ico_my_desc.png) no-repeat -1px 0px; */background-size:32px auto;/* content:""; */}
.uiPrfeSet .desc .url {font-size: 11px;margin-top: 0px;font-family:"BlairMd";text-transform: uppercase;}
.uiPrfeSet .desc .url a{display: inline-block;padding: 3px 0px;}
.uiPrfeSet .desc .tag{margin:0px -2px;display:flex;margin-top: 14px;}
.uiPrfeSet .desc .tag .hash{font-size: 12px;color: #101010;border: #70f5c4 solid 1px;border-radius: 20px;padding: 0 13px 0 11px;margin:0 2px;}


.contain.prf .prfNav{display: block;}
.contain.prf .prfNav .bts{display:flex;}
.contain.prf .prfNav .bts .bt{border: #cccccc solid 1px;border-width: 1px 1px 1px 0px;background: no-repeat center;height:37px;display:flex;/* width:100%; */align-items: center;justify-content: center;font-family:"BlairMd";text-transform: uppercase;font-size: 11px;}
.contain.prf .prfNav .bts .bt.model{display:none;background-image:url(../images/common/ico_my_edit.png);background-size: 40px auto;font-size: 0px;}
.contain.prf .prfNav .bts .bt.edit{width:75%;display:none;}
.contain.prf .prfNav .bts .bt.fwer{width:75%;background: #70f5c4;border-width: 0px 0px 0px 0px;}
.contain.prf .prfNav .bts .bt.fwing{width:75%;background: #ffffff;border-width: 1px 1px 1px 0px;color:#000;display: none;}
.contain.prf .prfNav .bts .bt.more{background:url(../images/common/ico_my_more.png) no-repeat center;background-size: 40px auto;font-size: 0px;flex-grow: 6;}

.contain.prf .prfNav .bts.mdl .bt.edit{width:50%;}
.contain.prf .prfNav .bts.mdl .bt.model{width: 25%; display:flex;}
.contain.prf .prfNav .bts.mdl .bt.fwer{width:50%;display: none;}
.contain.prf .prfNav .bts.mdl .bt.fwing{width:50%;display: none;}
.contain.prf .prfNav .bts.mdl .bt.more{}

.contain.prf .prfNav .bts.ing .bt.fwer{display:none;}
.contain.prf .prfNav .bts.ing .bt.fwing{display:flex;}
.contain.prf .prfNav .bts.my .bt.edit{display:flex;}
.contain.prf .prfNav .bts.my .bt.fwer{display:none;}
.contain.prf .prfNav .bts.my .bt.fwing{display:none;}


.contain.prf .prfList{}
.contain.prf .prfList .list.load{padding: 1px; background: #000000;}
.contain.prf .prfList .list{display: block;position: relative;overflow: hidden;}
.contain.prf .prfList .list>li{width: calc(50% - 0px);margin-bottom:0px;float:left;overflow: hidden;margin-right: 0px;}
.contain.prf .prfList .list>li .item{position: relative;overflow: hidden;background:#000;padding: 1px;}
.contain.prf .prfList .list>li .item .img{display:block;position:relative;padding-bottom: calc( 100% * 4 / 3  );}
.contain.prf .prfList .list>li .item .img>.lk{display: block;position: absolute;height: 100%;left: 0;top: 0;width: 100%;overflow: hidden;}
.contain.prf .prfList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;}
.contain.prf .prfList .list>li .item .num{width: 18px;height: 22px;position:absolute;right: 7px;bottom: 9px;z-index: 100;background: url(../images/common/ico_pic_num.png) no-repeat;background-size: 100% auto;opacity: 1;}
.contain.prf .prfList .list>li .item .num .n{font-size: 0;}
.contain.prf .prfList .uiLoadMore{padding:0 8px;}
.contain.prf .prfList .uiLoadMore{padding:0 8px;margin-top:calc(50vh - 220px );}
.contain.prf .prfList .list.load + .uiLoadMore{margin-top: 0px;}



/* 설정 */
.contain.setting{min-height: 100vh;}
.contain.setting .sec.mysets{margin-top: 30px;}
.contain.setting .sec.mysets .list{}
.contain.setting .sec.mysets .list>li{border-top: #000000 solid 1px;background:#ffffff;padding: 0px 0px 0px 0px;}
.contain.setting .sec.mysets .list>li>.bt{font-size: 16px;display:block;padding: 8px 0 8px 30px;position:relative;}
.contain.setting .sec.mysets .list>li>ul{border-top: #000000 solid 1px;padding: 10px 30px 10px 31px;}
.contain.setting .sec.mysets .list>li>ul>li{ position:relative;}
.contain.setting .sec.mysets .list>li>ul>li>.bt{color: #666666;font-size: 13px;display:block;padding: 5px 0;position: relative;}
.contain.setting .sec.mysets .list>li>ul>li>.bt .ver{color: #aaa;position:absolute;right: 0px;font-family: "BlairMd","NotoSansCJKkr";font-size: 11px;top: 6px;}


.uiPrfeSet.b{padding-top: 40px;}
.contain.my.prf{}
.contain.my.prf .prfeForm{padding: 36px 16px 16px 16px;}
.contain.my.prf .prfeForm .list{}
.contain.my.prf .prfeForm .list>li{display: flex;min-height: 37px;padding-top: 0px;}
.contain.my.prf .prfeForm .list>li .dt{font-size: 15px;color: #999999;margin-top: 8px;display:block;width: 80px;}
.contain.my.prf .prfeForm .list>li .dd{position:relative;display: block;border-bottom: #cccccc solid 1px;width: 100%;}
.contain.my.prf .prfeForm .list>li .dd{}
.contain.my.prf .prfeForm .list>li .dd .input{ font-family:"BlairMd";height: 36px;}
.contain.my.prf .prfeForm .list>li .dd .textarea{height: 60px;padding-top: 9px;padding-left: 0px;font-size: 13px;}
.contain.my.prf .prfeForm .list>li .dd .num{position:absolute;right: 0px;top: 36px;font-size: 12px;color: #999999;}
.contain.my.prf .prfeForm .list>li .dd label + label{ margin-left: 30px;}
.contain.my.prf .prfeForm .list>li.gender{margin-top: 20px;}
.contain.my.prf .prfeForm .list>li.gender .dd{padding: 6px 0; border-bottom-width:0px}
.contain.my.prf .prfeForm .list>li.nation .dd{ border-bottom-width:0px}
.contain.my.prf .prfeForm .list>li.nation .dd .sel{border: #cccccc solid 1px;border-width: 1px 0px;padding: 0 20px;width: auto;text-align: center;display: inline-block;margin-top: 5px;}
.contain.my.prf .prfeForm .list>li.nation .dd .sel{}
.contain.my.prf .prfeForm .list>li.nation .dd .sel .select{font-family:"BlairMd";font-size: 13px;width: auto;height: 30px;padding-right: 10px;/* min-width: auto; */display: inline-block;}
.contain.my.prf .prfeForm .memDis{margin-top: 10px;text-align: right;}
.contain.my.prf .prfeForm .memDis a{display: inline-block;padding:10px 0px;text-decoration: underline;/* text-align: right; */color: #999999;/* position: fixed; *//* right: 16px; *//* bottom: 70px; */}
.contain.my.prf .botFixed{}
.contain.my.prf .botFixed .btn{color: #000; font-weight: normal;}


/* 프로필 Look 리스트 */
.contain.my.list .secLk.look{}
.contain.my.list .secLk.look .lookList{}
.contain.my.list .secLk.look .lookList>li{margin-top: 35px;}
.contain.my.list .secLk.look .lookList>li:first-child{margin-top: 0px;}
.contain.my.list .secLk.look .uiLoadMore{padding:0 8px;margin-top:calc(50vh - 106px );}
.contain.my.list .secLk.look ul.load + .uiLoadMore{margin-top:0px;}
body.my.list .header .bts .hisback{display:block;}









.contain.alim{}
.contain.alim .tabs{}
.contain.alim .sec.notifi{}
.contain.alim .sec.notifi .tabCtn{padding:10px 0px;}
.contain.alim .sec.notifi .tabCtn .list{}
.contain.alim .sec.notifi .tabCtn .list>li{padding: 10px 16px 10px 16px;}
.contain.alim .sec.notifi .tabCtn .list>li:first-child{margin-top: 0px;}
.contain.alim .sec.notifi .tabCtn .list>li .box{position:relative;min-height: 48px;display: flex;align-items: center;}
.contain.alim .sec.notifi .tabCtn .list>li .box .pic{width: 36px;position:absolute;display:block;left:0px;top: 5px;height: 45px;}
.contain.alim .sec.notifi .tabCtn .list>li .box .pic .img{position:absolute;display: block;padding-bottom: calc(4% / 3.5 * 100);width: 100%;}
.contain.alim .sec.notifi .tabCtn .list>li .box .pic .img img{object-fit: cover;border-radius: 100%;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;}
.contain.alim .sec.notifi .tabCtn .list>li .box .name{font-size: 13px; font-family:"BlairMd","NotoSansCJKkr";}
.contain.alim .sec.notifi .tabCtn .list>li .box .msgs{margin: 0px 40px 0px 49px;width: 100%;}
.contain.alim .sec.notifi .tabCtn .list>li .box .msgs .text{font-size: 11px;margin-top: 2px;font-family:"BlairMd","NotoSansCJKkr";}
.contain.alim .sec.notifi .tabCtn .list>li .box .msgs .text a{display:inline-block;padding: 2px 0px;margin: -2px 0px;}
.contain.alim .sec.notifi .tabCtn .list>li .box .msgs .info{font-size: 10px;display:flex;margin-top: 0px;}
.contain.alim .sec.notifi .tabCtn .list>li .box .msgs .info .time{color: #999999;margin-right: 5px;}
.contain.alim .sec.notifi .tabCtn .list>li .box .thum{width: 35px;position:absolute;display:block;right:0px;top: 0px;height: 45px;}
.contain.alim .sec.notifi .tabCtn .list>li .box .thum .img{position:absolute;display: block;padding-bottom: calc(4% / 3 * 100);width: 100%;}
.contain.alim .sec.notifi .tabCtn .list>li .box .thum .img img{object-fit: cover;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;border: #000000 solid 1px;}
.contain.alim .sec.notifi .tabCtn .list + .uiLoadMore{ margin-top:calc(50vh - 100px );}
.contain.alim .sec.notifi .tabCtn .list.load + .uiLoadMore{margin-top:0px;}






.contain.follow{}
.contain.follow .sec.formSch{padding:0px 0 20px}
.contain.follow .sec.formSch .sch{margin: 0 16px;position:relative;}
.contain.follow .sec.formSch .sch::before{color: #ff424d;font-family:"BlairMd";font-size: 20px;position:absolute;left:45px;top: 6px;}
.contain.follow .sec.formSch .sch .key{background: url(../images/common/icoFormSch.png) no-repeat 0px center;padding: 5px 80px 5px 30px;background-size: auto 24px;font-size: 18px;font-family:"BlairMd","NotoSansCJKkr";}
.contain.follow .sec.formSch .sch .key:focus{padding-bottom: 5px;}
.contain.follow .sec.formSch .sch .bt.sch{display:none;}
.contain.follow .sec.formSch .sch .bt.cancel{position:absolute;right: 1px;top: 13px;width: 25px;height: 16px;background:url(../images/common/recent_kwd_del.png) no-repeat;background-size: 100% auto;font-size: 0px;}



.contain.follow .tabs{}
.contain.follow .sec.follow{}
.contain.follow .sec.follow .tabCtn{padding-top: 33px;}
.contain.follow .sec.follow .tabCtn .list{display: flex;margin-right: -0px;position: relative;overflow: hidden;flex-wrap: wrap;padding: 0 15px 0px 15px;}
.contain.follow .sec.follow .tabCtn .list>li{width: calc(33.3333% - 0px);margin-bottom: 35px;margin-right: 0px;max-width: 140px;}
.contain.follow .sec.follow .tabCtn .list>li .item{position: relative;margin: auto;padding: 0 0px;}
.contain.follow .sec.follow .tabCtn .list>li .item .img{display:block;position:relative;margin: auto;width: 70px;height: 80px;}
.contain.follow .sec.follow .tabCtn .list>li .item .img>.lk{display: block;position: relative;width: 100%;overflow: hidden;padding-bottom: calc(4% / 3.5 * 100);}
.contain.follow .sec.follow .tabCtn .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.contain.follow .sec.follow .tabCtn .list>li .item .name{text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 8px;font-family: "BlairMd","NotoSansCJKkr";font-size: 12px;}
.contain.follow .sec.follow .tabCtn .list>li .item .foll{text-align: center;white-space: nowrap;margin-top: 0px;}
.contain.follow .sec.follow .tabCtn .list>li .item .foll .checkbox{}
.contain.follow .sec.follow .tabCtn .list>li .item .foll .checkbox>span{width:50px;height:20px;background: url(../images/common/ico_my_follow.png) no-repeat;background-size: 100% auto;font-size: 0px;}
.contain.follow .sec.follow .tabCtn .list>li .item .foll .checkbox>span::before{display:none;}
.contain.follow .sec.follow .tabCtn .list>li .item .foll .checkbox input:checked + span{ background-position-y: -30px;}
.contain.follow .sec.follow .tabCtn .uiLoadMore{padding:0 8px;margin-top:calc(50vh - 100px );}
.contain.follow .sec.follow .tabCtn .list.load + .uiLoadMore{margin-top: -35px;}



/* 모델설정 */
.contain.mdl.set{}
.contain.mdl.set .guds{font-size: 15px;text-align: center;padding: 40px 0px 30px 0px;}
.contain.mdl.set .sec.mdls{padding: 40px 10px 20px  20px;}
.contain.mdl.set .sec.mdls ul.list{display:flex;justify-content:space-between;}
.contain.mdl.set .sec.mdls ul.list>li{ width:100px;}
.contain.mdl.set .sec.mdls ul.list>li .box{text-align: center;text-transform: uppercase;}
.contain.mdl.set .sec.mdls ul.list>li .box .pic{width:68px;position:relative;margin: auto;/* height: 76px; */}
.contain.mdl.set .sec.mdls ul.list>li .box .pic .img{padding-bottom: calc(4% / 3.5 * 100);display: block;}
.contain.mdl.set .sec.mdls ul.list>li .box .pic  img{position:absolute;left: 0px;top: 0px;object-fit: cover;border-radius: 100%;}
.contain.mdl.set .sec.mdls ul.list>li .box .pic .bt{font-size: 0px;/* position:absolute; *//* left:0px; *//* top: 0px; */object-fit: cover;border-radius: 100%;width:100%;/* height:100%; *//* background-size: 22px auto; */padding-bottom: calc( 4% / 3.5 * 100 );display: block;/* overflow: hidden; *//* border-radius: 100%; *//* box-shadow: 0px 0px 1px rgba(0,0,0,0.8); */}
.contain.mdl.set .sec.mdls ul.list>li .box .name{ font-family:"BlairMd","NotoSansCJKkr"; margin-top: 5px; min-height: 22px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.contain.mdl.set .sec.mdls ul.list>li .box .bts{text-align: center;}
.contain.mdl.set .sec.mdls ul.list>li .box .bts .bt{width: 26px;height: 26px;display:inline-block;font-size: 0px;background: no-repeat center;background-size: 100% auto;overflow: hidden;vertical-align: middle;}

.contain.mdl.set .sec.mdls ul.list>li .box .bts .bt.reg{ background-image: url(../images/common/mdl_plus.png)}
.contain.mdl.set .sec.mdls ul.list>li .box .bts .bt.del{ background-image: url(../images/common/mdl_del.png)}



.contain.mdl.set .msgs{text-align: center;padding: 60px 0 30px 0px;font-size: 12px;color: #999999;}


.contain.mdl.reg .steps{height:36px;}
.contain.mdl.reg .steps ul.st{display:flex;border-top: #000000 solid 1px;align-items: center;position:fixed;left:0;right:0px;bottom: 60px;}
.contain.mdl.reg .steps ul.st>li{width:100%;text-align: right;font-family:"BlairMd";font-size: 21px;color: #000000;border-left: #000000 solid 1px;padding-right: 12px;background: #ffffff;}
.contain.mdl.reg .steps ul.st>li:first-child{border-left-width: 0px;}
.contain.mdl.reg .steps.st1{}
.contain.mdl.reg .steps.st1 ul.st>li:nth-child(1){color: #ffffff;background: #000000;}
.contain.mdl.reg .steps.st1 ul.st>li:nth-child(1) ~ li{ background-color: #ffffff; color: #000000;}

.contain.mdl.reg .steps.st2{}
.contain.mdl.reg .steps.st2 ul.st>li:first-child,
.contain.mdl.reg .steps.st2 ul.st>li:nth-child(2) {color: #ffffff;background: #000000;}
.contain.mdl.reg .steps.st2 ul.st>li:nth-child(2) ~ li{ background-color: #ffffff; color: #000000;}


.contain.mdl.reg .steps.st3{}
.contain.mdl.reg .steps.st3 ul.st>li:nth-child(3) {color: #ffffff;}

.contain.mdl.reg{}
.contain.mdl.reg .guds{font-size: 15px;text-align: center;padding: 60px 0px 30px 0px;}
.contain.mdl.reg .prfeForm{padding:10px 16px;}
.contain.mdl.reg .prfeForm .photo{position:relative;width: 62px;margin: auto;}
.contain.mdl.reg .prfeForm .photo .pic{position:relative;padding-bottom: calc(4% / 3.5 * 100);display:block; }
.contain.mdl.reg .prfeForm .photo .pic img{width: 100%;height: 100%;border-radius: 100%;position:absolute;left:0;top: 0px;width:100%;object-fit: cover;}
.contain.mdl.reg .prfeForm .photo .bts{position:absolute;right: -7px;bottom: -7px;}
.contain.mdl.reg .prfeForm .photo .bts .bt{width: 26px;height: 26px;display:block;/* border: #e5e5e5 solid 1px; *//* border-radius: 100%; */font-size: 0px;/* background: #ffffff no-repeat; */background-size: 100% auto;}
.contain.mdl.reg .prfeForm .photo .bts .bt.mod{ background-image: url(../images/common/ico_pic_edit.png)}

.contain.mdl.reg .prfeForm .list{margin-top: 30px;}
.contain.mdl.reg .prfeForm .list>li{/* display: flex; */min-height: 37px;padding-top: 0px;position: relative;}
.contain.mdl.reg .prfeForm .list>li .dt{position:absolute;left:0px;top: 0px;font-size: 15px;color: #999999;margin-top: 8px;display:block;width: 80px;}
.contain.mdl.reg .prfeForm .list>li .dd{display: block;border-bottom: #cccccc solid 1px;/* width: 100%; */margin-left: 80px;}
.contain.mdl.reg .prfeForm .list>li .dd{}
.contain.mdl.reg .prfeForm .list>li .dd .input{font-family:"BlairMd";height: 36px;color: #cccccc;}
.contain.mdl.reg .prfeForm .list>li .dd .textarea{height: 60px;padding-top: 9px;}
.contain.mdl.reg .prfeForm .list>li .dd .num{position:absolute;right: 0px;top: 36px;font-size: 12px;color: #999999;}
.contain.mdl.reg .prfeForm .list>li .dd label + label{ margin-left: 30px;}
.contain.mdl.reg .prfeForm .list>li .dd .radio span{font-size: 14px;}
.contain.mdl.reg .prfeForm .list>li .dd .radio span::before{vertical-align: -9px;}
.contain.mdl.reg .prfeForm .list>li.nation{}
.contain.mdl.reg .prfeForm .list>li.nation .dd{border-bottom-width: 0;width: 41%;padding-left: 14px;border: #cccccc solid 1px;border-width: 1px 0px;}
.contain.mdl.reg .prfeForm .list>li .dd .select.nt{display: inline-block;width:initial;padding-left: 30px;min-width:150px;font-family:"BlairMd";text-transform: uppercase;}
.contain.mdl.reg .prfeForm .list>li.gender .dd{padding: 6px 0;border-bottom-width: 0;}
.contain.mdl.reg .prfeForm .msg{font-size: 11px;color: #999999;position:fixed;bottom: 80px;text-align: center;left:0;right: 0;}

.contain.mdl.reg .sec.size{position:relative;z-index: 0;}
.contain.mdl.reg .sec.size .filters{}
.contain.mdl.reg .sec.size .filters>li .ht{font-size: 13px;margin-bottom: 20px;color: #000000;font-family:"BlairMd";color: #fd6060;text-transform: uppercase;}
.contain.mdl.reg .sec.size .filters{padding: 20px 16px 40px 16px;position: relative;z-index: 10;overflow: hidden;}
.contain.mdl.reg .sec.size .filters>li{margin-top: 30px;}
.contain.mdl.reg .sec.size .filters>li:first-child{margin-top: 0px;}
.contain.mdl.reg .sec.size .filters>li .ht{}
.contain.mdl.reg .sec.size .filters>li .ct{}
.contain.mdl.reg .sec.size .filters>li.age{}
.contain.mdl.reg .sec.size .filters>li.age .ct{border: #ff424d solid 1px; margin: 0 -17px; text-align: center; position:relative;}
.contain.mdl.reg .sec.size .filters>li.age .ct::after{content:"";width:1px;height:20px;display:inline-block;background:#fecccc;position:absolute;left:50%;top: 5px;margin-left: 30px;}
.contain.mdl.reg .sec.size .filters>li.age .select{background-image: none;width: auto;font-family:"BlairMd";color:#ff424d;padding: 0 100px;font-size: 20px;height: 32px;}
.contain.mdl.reg .sec.size .filters>li.gender{ border-bottom: #cccccc solid 1px;}
.contain.mdl.reg .sec.size .filters>li.gender label + label{ margin-left: 20px;}
.contain.mdl.reg .sec.size .filters>li.gender .ht{ font-size: 12px; color: #70f5c4; margin-bottom: 2px;}
.contain.mdl.reg .sec.size .filters>li.gender .ct{}
.contain.mdl.reg .sec.size .filters>li.country{border-bottom: #cccccc solid 1px;margin-top: 10px;}
.contain.mdl.reg .sec.size .filters>li.country .ht{ font-size: 12px; color: #70f5c4; margin-bottom: 2px;}
.contain.mdl.reg .sec.size .filters>li.country .select{width: 150px;padding-left: 0;height: 30px;font-size: 13px;margin-bottom: 3px;}

.contain.mdl.reg .sec.size .filters>li.bra{}
.contain.mdl.reg .sec.size .filters>li.bra .ct{margin:0px -16px;border-top: #fd6060 solid 1px;}
.contain.mdl.reg .sec.size .filters>li.bra .slideSize{border-bottom: #fd6060 solid 1px;}
.contain.mdl.reg .sec.size .filters>li.bra .list{display: block;text-align: center;white-space: nowrap;font-size: 0;}
.contain.mdl.reg .sec.size .filters>li.bra .list>li{border-right: #fd6060 solid 1px;width: 40px;text-align: center;display: inline-block;}
.contain.mdl.reg .sec.size .filters>li.bra .list>li:last-child{ border-right-width: 0px;}
.contain.mdl.reg .sec.size .filters>li.bra .list>li label{display:block; position:relative;}
.contain.mdl.reg .sec.size .filters>li.bra .list>li label input{position:absolute; left:0;}
.contain.mdl.reg .sec.size .filters>li.bra .list>li label .tit{font-family:"BlairMd";color:#ff424d;font-size: 20px;height: 32px;}

.contain.mdl.reg .sec.size .filters>li .list>li label input:checked + .tit{ color: #000000;}

.contain.mdl.reg .sec.size .filters>li.bra .list.cup{text-align: center;display: block;}
.contain.mdl.reg .sec.size .filters>li.bra .list.siz{}
.contain.mdl.reg .sec.size .filters>li.bra .list.siz>li{width: 50px;}


.contain.mdl.reg .sec.size .filters>li.bot{}
.contain.mdl.reg .sec.size .filters>li.bot .ct{margin:0px -16px;}
.contain.mdl.reg .sec.size .filters>li.bot .slideSize{border-top: #fd6060 solid 1px;border-bottom: #fd6060 solid 1px;}
.contain.mdl.reg .sec.size .filters>li.bot .list{display: block;text-align: center;white-space: nowrap;font-size: 0;}
.contain.mdl.reg .sec.size .filters>li.bot .list>li{border-right: #fd6060 solid 1px;width: 50px;text-align: center;display: inline-block;}
.contain.mdl.reg .sec.size .filters>li.bot .list>li:last-child{ border-right-width: 0px;}
.contain.mdl.reg .sec.size .filters>li.bot .list>li label{display:block; position:relative;}
.contain.mdl.reg .sec.size .filters>li.bot .list>li label input{position:absolute;left:0;top: 0;}
.contain.mdl.reg .sec.size .filters>li.bot .list>li label .tit{font-family:"BlairMd";color:#ff424d;font-size: 20px;height: 32px;}


.contain.cools {}
.contain.cools .coolList{}
.contain.cools .coolList .list.load{background: #000000;}
.contain.cools .coolList .list{display: block;position: relative;overflow: hidden;padding: 1px;}
.contain.cools .coolList .list>li{width: calc(50% - 0px);margin-bottom:0px;float:left;overflow: hidden;margin-right: 0px;}
.contain.cools .coolList .list>li .item{position: relative;overflow: hidden; padding: 1px;}
.contain.cools .coolList .list>li .item .img{display:block;position:relative;padding-bottom: calc( 100% * 4 / 3  );}
.contain.cools .coolList .list>li .item .img>.lk{display: block;position: absolute;height: 100%;left: 0;top: 0;width: 100%;overflow: hidden;}
.contain.cools .coolList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;}
.contain.cools .coolList .list>li .item .bts{position:absolute;right: 0px;top: 0px;z-index: 100;}
.contain.cools .coolList .list>li .item .bts .bt{width: 30px;height: 30px;background: url(../images/common/delete.png ) no-repeat center center;background-size: 10px auto;font-size: 0px;display:block;border-radius: 3px;}
.contain.cools .coolList .list>li .item .bts .bt.del{}
.contain.cools .coolList .list>li .item .num{width: 28px;height: 32px;position:absolute;right: 7px;bottom: 9px;z-index: 100;background: url(../images/common/ico_pic_num.png) no-repeat;background-size: 100% auto;opacity: 1;}
.contain.cools .coolList .list>li .item .num:before{}
.contain.cools .coolList .list>li .item .num .n{font-size: 14px;z-index:10;position: absolute;left: 4px;color: #fff;top: 2px;text-align: center;width: 17px;}
.contain.cools .coolList .list>li .item .checkbox{position:absolute;right: 0px;top: 0px;z-index: 100;}
.contain.cools .coolList .list + .uiLoadMore{ margin-top:calc(50vh - 90px );}
.contain.cools .coolList .list.load + .uiLoadMore{margin-top:0px;}
.contain.cools .tabCtn .uiLoadMore{padding:0 8px;}


.contain.setalim{}
.contain.setalim .sec.alim{padding-top: 30px;}
.contain.setalim .sec.alim .list{}
.contain.setalim .sec.alim .list>li{border-top: #000000 solid 1px;position:relative;padding: 2px 0px;}
.contain.setalim .sec.alim .list>li:last-child{border-bottom: #000000 solid 1px;}
.contain.setalim .sec.alim .list>li .tit{font-size: 13px;}
.contain.setalim .sec.alim .list>li .uiChk{position:absolute;right: 20px;top: 8px;}
.contain.setalim .sec.alim .list>li>ul{}
.contain.setalim .sec.alim .list>li>ul>li{ position:relative;padding: 8px 65px 8px 25px;}



.contain.account{}
.contain.account .sec.acc{padding-top: 39px;}
.contain.account .sec.acc .list{}
.contain.account .sec.acc .list>li{border-top: #000000 solid 1px;position:relative;padding: 1px 65px 1px 17px;}
.contain.account .sec.acc .list>li:last-child{border-bottom: #000000 solid 1px;}
.contain.account .sec.acc .list>li .tit{font-size: 10px;font-family:"BlairMd";}
.contain.account .sec.acc .list>li .uiChk{position:absolute;right: 20px;top: 3px;}
.contain.account .sec.acc .list>li .tit::before{margin-right: 5px;content:"";width:20px;height:20px;background:no-repeat;background-size: 100% auto;display:inline-block;font-size: 0px;vertical-align: middle;}
.contain.account .sec.acc .list>li.instar .tit::before{background-image:url(../images/common/ico_instargram.png);}
.contain.account .sec.acc .list>li.kakao .tit::before{background-image:url(../images/common/ico_kakaotalk.png);}
.contain.account .sec.acc .list>li.facebook .tit::before{background-image:url(../images/common/ico_facebook.png);}







.contain.notice{}
.contain.notice .sec.notice{padding-top: 30px;}
.contain.notice .sec.notice .list{ }
.contain.notice .sec.notice .list>li .hBox{}
.contain.notice .sec.notice .list>li .tit{width: 100%;}
.contain.notice .sec.notice .list>li .date{color: #999999;font-size: 11px;position: absolute;right: 47px;width: 71px;text-align: right;top: 12px;}
.contain.notice .sec.notice .list + .uiLoadMore{ margin-top:calc(50vh - 110px );}
.contain.notice .sec.notice .list.load + .uiLoadMore{margin-top:0px;}




.contain.memdis{}
.contain.memdis .tops{color: #999999;text-align: center;padding: 40px 0 25px 0;}
.contain.memdis .list{border-top: #000000 solid 1px;}
.contain.memdis .list>li{border-bottom: #000000 solid 1px;padding: 4px 15px;}
.contain.memdis .list>li label{display:block;}
.contain.memdis .guds{padding:20px 16px; font-size: 13px;}
.contain.memdis .guds .p{}
.contain.memdis .guds .t{font-size: 11px; color: #999999; padding:10px 0px;}
.contain.memdis .agree{padding:5px 16px 5px 16px; font-size: 13px; border: solid #cccccc; border-width: 1px 0px; margin-bottom: 40px;}
.contain.memdis .agree label{display:block;}
.contain.qna{}
.contain.qna .sec.forms{margin:0px 16px; }
.contain.qna .sec.forms ul.form{}
.contain.qna .sec.forms ul.form>li{margin-top: 40px;}
.contain.qna .sec.forms ul.form>li:first-child{}
.contain.qna .sec.forms ul.form>li .dt{font-family:"BlairMd";}
.contain.qna .sec.forms ul.form>li .dt .select{ width:auto;}
.contain.qna .sec.forms ul.form>li .dt input,
.contain.qna .sec.forms ul.form>li .dt textarea{border: none;}
.contain.qna .sec.forms ul.form>li.memo .dd{margin: 10px -16px 0;}
.contain.qna .sec.forms ul.form>li .dd .textarea{height:150px;padding: 9px 20px 9px 20px; border-color: #000000; border-width: 1px 0px;}



.contain.ver{}
.contain.ver .sec.vinfo{text-align: center;padding: 87px 0px 20px;}
.contain.ver .sec.vinfo  .logo{margin: 0px auto 28px;width:160px;height: 70px;background: url(../images/common/intro_logo.png) no-repeat;background-size: 100% auto;font-size: 0px;z-index: 400;}
.contain.ver .sec.vinfo .msg{font-size: 17px;}
.contain.ver .sec.vinfo .vers{margin-top: 55px;}
.contain.ver .sec.vinfo .vers .ver{margin-top:20px;}
.contain.ver .sec.vinfo .vers .ver .tt{font-size: 12px;color: #999999;}
.contain.ver .sec.vinfo .vers .ver .vv{font-size: 23px; font-family:"BlairMd";}
.contain.ver .sec.vinfo .vers .ver.now .vv{ color: #999999;}




/* 비밀번호찾 재설정 */
.contain.pwmod .poptents{}
.contain.pwmod .findForm{padding:0px 16px 20px 16px;}
.contain.pwmod .findForm .form{margin-top: 42px;}
.contain.pwmod .findForm .form .pw{margin-bottom: 0px;}
.contain.pwmod .findForm .form .pw .input{/* font-size: 12px; */}
.contain.pwmod .findForm .form .uiIptPlc .plc{font-size: 13px;}
.contain.pwmod .findForm .form .uiIptPlc .input:focus + .plc{font-size: 11px;}
.contain.pwmod .findForm .form .pw.now{margin-bottom: 28px;}
.contain.pwmod .findForm .form .pw.new{}
.contain.pwmod .findForm .form .pw.com{}
.contain.pwmod .findForm .msgs{ font-size: 12px; margin-top: 10px;}

/* 리워드 관리 */
.contain.reward{}
.contain.reward .sec_h1{ padding: 24px 0 33px; font-size: 16px; text-align: center; }
.contain.reward .sec_h1 .sub_pt{ display: inline-block; font-size: 16px; text-align: center; border-bottom: 1px solid #000; }
.contain.reward .uiTab.a>li>a{padding: 0;}
.contain.reward .uiTabPan .panel{padding: 0;border:0}
.contain.reward .uiTabPan .pt_wrap{ overflow: hidden; position: relative; padding: 30px 20px;}
.contain.reward .uiTabPan .pt_wrap dl{float: left; width: 35%;}
.contain.reward .uiTabPan .pt_wrap dt{font-size: 12px;}
.contain.reward .uiTabPan .pt_wrap .point_val{line-height: 40px}
.contain.reward .uiTabPan .pt_wrap .point_inp{ display: inline-block; width: 100%; margin-right: -15px;}
.contain.reward .uiTabPan .pt_wrap .point_inp input{font-family: "BlairMd";}
.contain.reward .uiTabPan .pt_wrap .btn{position: absolute; bottom: 30px; right: 20px;}
.contain.reward .uiTabPan .info_txt{ padding: 0 20px 30px; font-size: 12px; color: #999; text-align: center;}
.contain.reward .uiTabPan .info_txt .require{ display: inline-block; color: #000; border-bottom: 1px solid #000;  font-weight: 100;}
.contain.reward .uiTabPan .add_info{padding: 30px 20px; border-top: 1px solid #000;}
.contain.reward .uiTabPan .add_info > p{ font-size: 12px; font-weight: normal; color: #999; }
.contain.reward .uiTabPan .h_grp{padding: 30px 20px 15px;}
.contain.reward .uiTabPan .h_grp > h2{padding: 0 0 14px;}
.contain.reward .uiTabPan .uiTab.b{ position: relative; box-sizing: border-box; display: flex; height: 33px;}
.contain.reward .uiTabPan .uiTab.b>li{ position: relative; width: 100%;padding: 0 1px 0 0;}
.contain.reward .uiTabPan .uiTab.b>li:last-child{ padding: 0;}
.contain.reward .uiTabPan .uiTab.b>li>a{ min-width: auto; height: 33px; background: #d2d2d2; color: #fff; border-width: 1px 0px; font-size: 13px; line-height: 35px; text-align: center; display: flex; font-family: "BlairMd"; align-items: center; justify-content: center; text-transform: uppercase; }
.contain.reward .uiTabPan .uiTab.b>li.active>a{background-color: #70f5c4; color: #000000; border-bottom-width: 0px; border-top-width: 0;}
.contain.reward .uiTabPan .pt_list{border-top: 1px solid #000;}
.contain.reward .uiTabPan .pt_list > ul > li{ display: flex; justify-content: space-between; padding: 15px 20px; border-bottom: 1px solid #000;  font-size: 11px; }
.contain.reward .uiTabPan .pt_list > ul > li .info01{text-align: left;}
.contain.reward .uiTabPan .pt_list > ul > li .info01 .date{color: #999;}
.contain.reward .uiTabPan .pt_list > ul > li .info01 .bank{display: block;}
.contain.reward .uiTabPan .pt_list > ul > li .info02{text-align: right;}
.contain.reward .uiTabPan .pt_list > ul > li .info02 .point{display: block;color: #999;}
.contain.reward .uiTabPan .pt_list > ul > li .info02 .total_pt{display: block;}
.contain.reward .uiTabPan .pt_list > ul > li .info02 .total_pt >strong{font-size: 13px;}
.contain.reward .uiTabPan .acc_has{padding: 0 20px 15px;}
.contain.reward .uiTabPan .acc_has .p_txt{font-size: 11px;}
.contain.reward .uiTabPan .form_wrap{ display: flex; justify-content: space-between; margin: 35px 0 0 0;}
.contain.reward .uiTabPan .form_wrap > select{flex-basis: 104px; border-bottom: 1px solid #000;}
.contain.reward .uiTabPan .form_wrap > .inp_wrap{flex-grow: 1; margin: 0 0 0 20px;}

.contain.reward .uiTabPan .acc_less .ing_account{padding: 15px 20px; font-size: 11px; border-top: 1px solid #0e0405; border-bottom: 1px solid #0e0405;}
.contain.reward .uiTabPan .acc_less .ing_account > li{ display: flex; justify-content: space-between; }
.contain.reward .uiTabPan .acc_less .ing_account > li .info01 > span{display: block;}
.contain.reward .uiTabPan .acc_less .ing_account > li .acc_num{align-self: center}
.contain.reward .uiTabPan .acc_less .form_wrap{ flex-wrap: wrap; margin: 0;padding: 0 20px; }
.contain.reward .uiTabPan .acc_less .form_wrap > label{flex-basis:100%; padding-top: 20px; font-size: 12px;}

.font_blairMd{font-family: "BlairMd";}


/* 쇼핑 내역 */
.contain.review{}
.contain.review .sec.review{}
.contain.review .sec.review .list{}
.contain.review .sec.review .list>li{border-bottom: #000000 solid 1px;}
.contain.review .sec.review .list>li .item{position:relative;padding: 28px 0px 28px 87px;}
.contain.review .sec.review .list>li .item .img{position:absolute;left: 20px;top: 20px;width:50px;}
.contain.review .sec.review .list>li .item .img .pic{position:absolute;left:0px;top: 1px;display: block;}
.contain.review .sec.review .list>li .item .img .pic{padding-bottom: calc( 4% / 3.4 * 100);display: block;position: relative;width: 100%;}
.contain.review .sec.review .list>li .item .img .pic img{/* width:40px; */border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}

.contain.review .sec.review .list>li .item .info{min-height: 50px;position:relative;line-height: 100%;}
.contain.review .sec.review .list>li .item .info .tit{font-size: 12px;}
.contain.review .sec.review .list>li .item .info .prc{font-size: 11px; color: #999999;}
.contain.review .sec.review .list>li .item .info .prc .w{}
.contain.review .sec.review .list>li .item .info .prc .p{font-family:"BlairMd";}
.contain.review .sec.review .list>li .item .info .name{font-size: 11px;color: #999999;margin-top:0px; font-family:"BlairMd";}
.contain.review .sec.review .list>li .item .info .remove{position:absolute;right: 20px;top: -13px;}
.contain.review .sec.review .list>li .item .info .remove .bt.del{width:16px; height:16px; display:block; background: url(../images/common/review_btn_del.png)  no-repeat; background-size: 100% auto; font-size: 0;}
.contain.review .sec.review .list>li .bts{}
.contain.review .sec.review .list>li .bts .bt{font-size: 16px;border-top: #000000 solid 1px; display:block; height:35px; line-height: 35px; text-align:center;}
.contain.review .sec.review .list>li .bts .bt.write{}
.contain.review .sec.review .list>li .bts .bt.view{ color: #70f5c4;}


.upload.photo{}
.upload.photo .pics{position: relative;}
.upload.photo .pics ul.list{display:flex;transform: translateX( calc(50% - 104px) );}
.upload.photo .pics ul.list>li{width:188px;position: relative;margin: 0px 10px;}
.upload.photo .pics ul.list>li:first-child{}
.upload.photo .pics ul.list>li .img{display:block;padding-bottom: calc(4% / 3 * 100 );position: relative;border: #000000 solid 2px;}
.upload.photo .pics ul.list>li .img a{}
.upload.photo .pics ul.list>li .img img{position:absolute;left:0px;top: 0px;width:100%;object-fit: cover;height: 100%;}
.upload.photo .pics ul.list>li .counts{font-family:"BlairMd","NotoSansCJKkr";text-align: center;line-height: 18px;margin-top: 15px;}
.upload.photo .pics ul.list>li .counts .txt{}
.upload.photo .pics ul.list>li .counts .cnt{}
.upload.photo .pics ul.list>li .bts{position:absolute;right: 2px;top: 2px;z-index: 100;}
.upload.photo .pics ul.list>li .bts .del{width: 30px;height: 30px;overflow:hidden;background: url(../images/common/intro_pic_del.png) no-repeat center;background-size: 30px auto;background-color:transparent;border:none;padding:0;cursor: pointer;z-index: 100;font-size: 0;display: block;}
.upload.photo .pics ul.list>li .btnAdd{position:absolute;left:0px;top: 0px;bottom: 0px;display:block;height:100%;background: url(../images/common/intro_pic.png) no-repeat center;background-size: 74px auto;font-size: 0px;/* height: 100%; */width: 100%;}
.upload.photo .pics ul.list>li .num{position:absolute;right: 10px; bottom: 10px; font-family:"BlairMd"; font-size: 8px; background:#70f5c4; padding: 0 5px;}
.upload.photo .pics ul.list>li .tgs{position:absolute;left: 10px;bottom: 10px;width: 16px;height:16px;background:url(../images/common/ico_tag_stat.png) no-repeat #70f5c4;background-size: 100% auto;font-size: 0px;padding: 0 5px;}
.upload.photo .pics ul.list>li .msg{text-align: center;line-height: 18px;margin-top: 15px;}
.upload.photo .pics ul.list>li .msg .txt{display:inline-block;background-color: #f1f1f1;padding: 5px 10px;font-family:"BlairMd","NotoSansCJKkr";position:relative;border-radius: 2px;}
.upload.photo .pics ul.list>li .msg .txt::before{transform: rotate(45deg);content:"";width:0px;height:0px;border: #f1f1f1 solid 2px;position:absolute;left: 13px;top: -3px;}
.upload.photo .hdt{font-family:"BlairMd";font-size: 24px;min-height: 130px;text-align: center;padding-top: 0px;line-height: 110%;margin-right: 0%;position: relative;}
.upload.photo .hdt em{position:relative; display: inline-block;}

/* 리뷰등록 폼 */
.contain.review.cate{}
.contain.review.cate .forms{ padding-top: 40px; }
.contain.review.cate .list{padding: 0px 0px 16px 0px;position: relative;z-index: 10;}
.contain.review.cate .list>li{margin-top: 30px;}
.contain.review.cate .list>li:first-child{margin-top: 0px;}
.contain.review.cate .list>li .ht{font-size: 15px;margin-bottom: 11px;color: #000000;font-family:"BlairMd";padding: 0px 16px;}
.contain.review.cate .list>li .ct{border: #000000 solid 1px;border-width: 1px 0px; }
.contain.review.cate .list>li.text{}
.contain.review.cate .list>li.text .ht{/* border-bottom: #000000 solid 1px; */}
.contain.review.cate .list>li.text .ct{position:relative;margin: 0px 0px;padding: 10px 16px;}
.contain.review.cate .list>li.text .ct .num{position:absolute;right: 16px;top: -32px;font-family:"BlairMd";color: #cccccc;font-size: 11px;}
.contain.review.cate .list>li.text .ct .num.over{color: #70f5c4;}
.contain.review.cate .list>li.text .ct .textarea{border: none;padding: 0px;height: 240px;overflow: hidden;}
.contain.review.cate .list>li.items .item{position:relative;padding: 20px 0px 20px 70px;}
.contain.review.cate .list>li.items .item .img{position:absolute;left: 16px;top: 20px;width: 37px;}
.contain.review.cate .list>li.items .item .img .pic{position:absolute;left:0px;top: 1px;display: block;}
.contain.review.cate .list>li.items .item .img .pic{padding-bottom: calc( 4% / 3.4 * 100);display: block;position: relative;width: 100%;}
.contain.review.cate .list>li.items .item .img .pic img{/* width:40px; */border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}

.contain.review.cate .list>li.items .item .info{min-height: 50px;position:relative;line-height: 100%;padding-top: 8px;}
.contain.review.cate .list>li.items .item .info .tit{font-size: 12px; font-family:"BlairMd"; text-transform: uppercase;}
.contain.review.cate .list>li.items .item .info .desc{}
.contain.review.cate .list>li.items .item .info .prc{font-size: 11px;color: #999999;display: inline-block;}
.contain.review.cate .list>li.items .item .info .prc .w{}
.contain.review.cate .list>li.items .item .info .prc .p{font-family:"BlairMd";}
.contain.review.cate .list>li.items .item .info .name{font-size: 11px;color: #999999;margin-top:0px;font-family:"BlairMd";display: inline-block;}
.contain.review.cate .list>li.items .item .info .remove{position:absolute;right: 20px;top: -13px;}
.contain.review.cate .list>li.items .item .info .remove .bt.del{width:16px; height:16px; display:block; background: url(../images/common/review_btn_del.png)  no-repeat; background-size: 100% auto; font-size: 0;}
.contain.review.cate .list .bts{}

/* 리뷰리스트 */
.contain.review .reviewList{margin-top: 10px;}