@charset "utf-8";

.secMn{}
.secMn>.hdt{text-align: center;/* margin-top: 50px; *//* margin-bottom: 50px; */}
.secMn>.hdt h3{font-family:"BlairMd";font-size: 12px;text-transform: uppercase;line-height: 160%;margin-bottom: 5px;}
.secMn>.hdt p{font-family:"BlairMd";font-size: 24px;text-transform: uppercase;line-height: 110%;}

/* 사이즈선택 */
.secMn.tops{min-height:100px;}
.secMn.tops>.hdt{padding-top: 19px;margin-bottom: 20px;/* min-height: 100px; */}
.secMn.tops>.bts{padding: 0px 16px 20px 16px;margin-top: 15px;/* display: none; */}
.secMn.tops>.bts .btSize{display:block;border: #dddddd solid 1px;text-align: center;padding: 8px 10px;}
.secMn.tops>.bts .btSize span{font-size: 12px;line-height: 140%;display:block;}
.secMn.tops>.bts .btSize span::after{content:"";width:9px;height:9px;background:url(../images/common/mn_top_ar.png);background-size: 100% auto;display: inline-block;vertical-align: 0;/* margin-left: 5px; */}


/* 홈 */
.secMn.post{/* padding: 0px 0px 30px 0px; */}
.secMn.post .postList{}
.secMn.post .postList>li{margin-top: 40px;}
.secMn.post .postList>li:first-child{margin-top: 0px;}

.uiMnSet{}
.uiMnSet>.slideMnPic{}
.uiMnSet>.slideMnPic .pagination{width:auto;left: auto;padding: 2px 9px 2px 9px;font-family:"BlairMd";font-size: 13px;bottom: 11px;background: rgba(228,228,228,0.7);border-radius: 5px;right: 27px;color: #000000;}
.uiMnSet>.slideMnPic .slide{/* height:auto !important; */}
.uiMnSet>.slideMnPic .slide>li{padding:0px 16px;background: #70f5c4;}
.uiMnSet>.slideMnPic .slide .pic{display:block;padding-bottom: calc(4% / 3 * 100 );position:relative;}
.uiMnSet>.slideMnPic .slide .pic img{object-fit: cover;position: absolute;left: 0;width: 100%;height: 100%;}
/* .uiMnSet>.match{display:flex;border-bottom: #c7c7c7 solid 1px;align-items: center;}
.uiMnSet>.match .box{border-left: #c7c7c7 solid 1px;height: 43px;width: 100%;text-align: center;display:flex;align-items: center;justify-content: center;font-family:"BlairMd";font-size: 13px;}
.uiMnSet>.match .box:first-child{ border-left-width: 0px;} */
.uiMnSet>.info{padding:20px 20px 10px 20px ;}
.uiMnSet>.info .user{   position:relative;}
.uiMnSet>.info .user .pic{position:absolute;left:0px;top: 0px;display: block;width: 40px;}
.uiMnSet>.info .user .pic .img{padding-bottom: calc( 4% / 3.5 * 100);display: block;position: relative;width: 100%;}
.uiMnSet>.info .user .pic .img img{width:40px;border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}.uiMnSet>.info .user .mem{min-height: 50px;margin: 0 45px 0 55px;text-align: center;display: block;}
.uiMnSet>.info .user .mem .nm{font-size: 20px;font-family: "NotoSansCJKkr-Md";line-height: 1.1em;color: #101010;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.uiMnSet>.info .user .mem .dt{font-size: 10px;color: #a3a3a3; font-family:"BlairMd"; text-transform: uppercase;}
.uiMnSet>.info .user .mem .dt .k{/* color: #66dfb2; */}
.uiMnSet>.info .user .mem .dt .n{}
.uiMnSet>.info .user .mem .dt .n::before{content: ",";/* width:1px; */height:14px;/* background:#e5e5e5; *//* display: inline-block; *//* vertical-align: middle; */margin: 0 3px 0 0;}
.uiMnSet>.info .user .bts{position:absolute;right: -10px;top: 2px;}
.uiMnSet>.info .user .bts .bt{}
.uiMnSet>.info .user .bts .bt.more{width:40px; height:40px; background: url(../images/common/ico_look_more.png) no-repeat; background-size: 100% auto; font-size: 0px; display: block;}
.uiMnSet>.info .desc{margin-top: 15px;}
/* .uiMnSet>.data{padding: 5px 20px 10px 20px;}
.uiMnSet>.data .list{overflow:hidden;}
.uiMnSet>.data .list>li{float:left;margin-right: 3px;}
.uiMnSet>.data .list>li .bt{display:block;position:relative;padding-left: 30px;height: 34px;}
.uiMnSet>.data .list>li .bt:before{width:28px;height:28px;display:block;background: no-repeat;background-size: 100% auto;content:"";position:absolute;left:0px;top: 2px;}
.uiMnSet>.data .list>li .bt span{line-height: 20px;display: inline-block;vertical-align: middle;margin-top: 6px;font-family:"BlairMd";font-size: 13px;}
.uiMnSet>.data .list>li.like .bt:before{ background-image: url(../images/common/ico_look_like.png); }
.uiMnSet>.data .list>li.reply .bt:before{ background-image: url(../images/common/ico_look_reply.png);}
.uiMnSet>.data .list>li.scrap{float:right;margin-right: -7px;}
.uiMnSet>.data .list>li.scrap .bt{font-size: 0px;}
.uiMnSet>.data .list>li.scrap .bt:before{ background-image: url(../images/common/ico_look_scrap.png); font-size: 0px;} */
.uiMnSet>.tags{border-bottom: #c2c2c2 solid 1px;border-top: #c2c2c2 solid 1px;overflow-x: auto;}
.uiMnSet>.tags .tg{/* display:flex; */padding: 3px 3px;/* flex-wrap: wrap; *//* justify-content: center; */white-space: nowrap;text-align: center;}
.uiMnSet>.tags .tg>li{margin: 2px 2px;display: inline-block;}
.uiMnSet>.tags .tg>li .hash{position:relative;padding: 0px 7px 0px 7px;/* border: #ddd solid 1px; */display: block;border-radius: 4px;}
.uiMnSet>.tags .tg>li .hash .tt{font-size: 12px;display: inline-block;vertical-align: 1px;}
.uiMnSet>.tags .tg>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}




.secMn.match{}
.secMn.match .hdt{    margin-top: 50px;    margin-bottom: 50px;}
.secMn.match .mats{padding: 8px 11px;margin-top: 15px;}
.secMn.match .mats .dd{font-size: 12px;margin-right: 8px;display: inline-block;padding: 5px 5px;}
.secMn.match .mats .dd .tt{}
.secMn.match .mats .dd .nm{color: #fd5555; margin-left: 5px;}

.secMn.match .matchList{display: block;position: relative;overflow: hidden;/* border-top: 1px solid #000000; */background: #000000;padding: 1px 1px 1px 1px;}
.secMn.match .matchList>li{width: calc(50% - 0px);margin-bottom:0px;float:left;overflow: hidden; margin-right: 0px;}
.secMn.match .matchList>li .item{position: relative;overflow: hidden;background:#000;padding:1px;}
.secMn.match .matchList>li .item .img{display:block;position:relative;padding-bottom: calc( 4% / 3 * 100 );}
.secMn.match .matchList>li .item .img>a{display: block;position: absolute;height: 100%;left: 0;top: 0;width: 100%;overflow: hidden;}
.secMn.match .matchList>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;}
.secMn.match .matchList>li .item .bts{position:absolute;right: 0px;top: 0px;z-index: 100;}
.secMn.match .matchList>li .item .bts .bt{width: 30px;height: 30px;background: url(../images/common/delete.png ) no-repeat center center;background-size: 10px auto;font-size: 0px;display:block;border-radius: 3px;}
.secMn.match .matchList>li .item .bts .bt.del{}
.secMn.match .matchList>li .item .num{width: 28px;height: 28px;position:absolute;right: 5px;bottom: 6px;z-index: 100;background: url(../images/common/ico_pic_num.png) no-repeat;background-size: 100% auto;opacity: 0.54;}
.secMn.match .matchList>li .item .num:before{}
.secMn.match .matchList>li .item .num .n{font-size: 14px;z-index:10;position: absolute;left: 4px;color: #fff;top: 2px;text-align: center;width: 17px;}
.secMn.match .matchList>li:nth-child(5n){width:100%;}


.secMn.newb{padding-bottom: 20px;}
.secMn.newb>.hdt{padding-top: 30px;}
.secMn.newb .slideNewbie{margin-top: 30px;margin-bottom: 50px;padding: 10px 10px;}
.secMn.newb .slideNewbie .slide{}
.secMn.newb .slideNewbie .slide>li{width: 30%;padding: 0 8px;}
.secMn.newb .slideNewbie .slide>li .item{position: relative;margin: auto;padding: 0 0px;}
.secMn.newb .slideNewbie .slide>li .item::before{width:24px;height:24px; background:#fd5555; content:"N"; color: #ffffff; position:absolute; right: 0px; top: 0px; z-index:10;  border-radius: 100px; text-align: center; font-family:"BlairMd"; font-size: 11px; display:flex; justify-content: center; align-items: center;	}
.secMn.newb .slideNewbie .slide>li .item .img{display:block;position:relative;margin: auto;/* width: 90px; *//* height: 90px; */}
.secMn.newb .slideNewbie .slide>li .item .img>.lk{display: block;position: relative;width: 100%;overflow: hidden;padding-bottom: 100%;}
.secMn.newb .slideNewbie .slide>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.secMn.newb .slideNewbie .slide>li .item .name{text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 8px; font-family:"BlairMd","NotoSansCJKkr";}
.secMn.newb .slideNewbie .slide>li .item .foll{    text-align: center;    white-space: nowrap;    margin-top: -3px;}
.secMn.newb .slideNewbie .slide>li .item .foll .checkbox>span::before{transform: scale(0.8);vertical-align: -11px;margin-right: -4px;}
.secMn.newb .slideNewbie .slide>li .item .foll .checkbox>span:after{content: "Following";font-family:"BlairMd";font-size: 10px;}
.secMn.newb .slideNewbie .slide>li .item .foll .checkbox input:checked + span:after{content: "Follow";}



.secMn.newb .slideNewup{}
.secMn.newb .slideNewup .slide{}
.secMn.newb .slideNewup .slide>li{width:50%;}
.secMn.newb .slideNewup .slide .item{}
.secMn.newb .slideNewup .slide .item{}
.secMn.newb .slideNewup .slide .item .thumb{position: relative;overflow: hidden;background:#000;padding: 2px 1px;}
.secMn.newb .slideNewup .slide .item .thumb .img{display:block;position:relative;padding-bottom: calc( 400% / 300 * 100 );}
.secMn.newb .slideNewup .slide .item .thumb .img>.lk{display: block;position: absolute;height: 100%;left: 0;top: 0;width: 100%;overflow: hidden;}
.secMn.newb .slideNewup .slide .item .thumb .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;}
.secMn.newb .slideNewup .slide .item .thumb .num{width: 28px;height: 28px;position:absolute;right: 5px;bottom: 6px;z-index: 100;background: url(../images/common/ico_pic_num.png) no-repeat;background-size: 100% auto;opacity: 0.54;}
.secMn.newb .slideNewup .slide .item .thumb .num:before{}
.secMn.newb .slideNewup .slide .item .thumb .num .n{font-size: 14px;z-index:10;position: absolute;left: 4px;color: #fff;top: 2px;text-align: center;width: 17px;}

.secMn.newb .slideNewup .slide .item .user{position:relative;padding: 15px 0px 15px 16px;}
.secMn.newb .slideNewup .slide .item .user .pic{position:absolute;left: 16px;top: 17px;display: block; width:36px;}
.secMn.newb .slideNewup .slide .item .user .pic .img{padding-bottom: calc( 4% / 3.5 * 100);display: block;position: relative;width: 100%;}
.secMn.newb .slideNewup .slide .item .user .pic .img img{width:36px;border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}
.secMn.newb .slideNewup .slide .item .user .mem{min-height: 40px;margin: 6px 0px 0 41px;/* text-align: center; */display: block;}
.secMn.newb .slideNewup .slide .item .user .mem .nm{font-size: 16px;font-family: "BlairMd","NotoSansCJKkr";line-height: 1.1em;color: #101010;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.secMn.newb .slideNewup .slide .item .user .mem .dt{font-size: 10px;color: #a3a3a3;text-transform: uppercase;font-family:"BlairMd";}
.secMn.newb .slideNewup .slide .item .user .mem .dt .k{/* color: #66dfb2; */}
.secMn.newb .slideNewup .slide .item .user .mem .dt .n{}
.secMn.newb .slideNewup .slide .item .user .mem .dt .n::before{content: ",";/* width:1px; *//* height: 10px; *//* background:#e5e5e5; *//* display: inline-block; *//* vertical-align: middle; */margin: 0 3px 0 0;}

.secMn.hash{}
.secMn.hash .pgtd{display:flex;justify-content: space-between;padding: 7px 16px;align-items: center;}
.secMn.hash .pgtd .tit{font-size: 15px;font-family: "BlairMd","NotoSansCJKkr";}
.secMn.hash .pgtd .bts{}
.secMn.hash .pgtd .bts .link{color: #999999;text-decoration: underline;font-size: 12px;display: block;padding: 5px 0;}
.secMn.hash .hashList{}
.secMn.hash .hashList{display: block;position: relative;overflow: hidden;/* border-top: 1px solid #000000; */background: #000000;padding: 1px;}
.secMn.hash .hashList>li{width: calc(33.3333% - 0px);margin-bottom:0px;float:left;overflow: hidden; margin-right: 0px;}
.secMn.hash .hashList>li .item{position: relative;overflow: hidden;background:#000;padding:1px;}
.secMn.hash .hashList>li .item .img{display:block;position:relative;padding-bottom: calc( 4% / 3 * 100 );}
.secMn.hash .hashList>li .item .img>.lk{display: block;position: absolute;height: 100%;left: 0;top: 0;width: 100%;overflow: hidden;}
.secMn.hash .hashList>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;}
.secMn.hash .hashList>li .item .bts{position:absolute;right: 0px;top: 0px;z-index: 100;}
.secMn.hash .hashList>li .item .bts .bt{width: 30px;height: 30px;background: url(../images/common/delete.png ) no-repeat center center;background-size: 10px auto;font-size: 0px;display:block;border-radius: 3px;}
.secMn.hash .hashList>li .item .bts .bt.del{}
.secMn.hash .hashList>li .item .num{width: 28px;height: 28px;position:absolute;right: 5px;bottom: 6px;z-index: 100;background: url(../images/common/ico_pic_num.png) no-repeat;background-size: 100% auto;opacity: 0.54;}
.secMn.hash .hashList>li .item .num:before{}
.secMn.hash .hashList>li .item .num .n{font-size: 14px;z-index:10;position: absolute;left: 4px;color: #fff;top: 2px;text-align: center;width: 17px;}






.contain.int .intro{position:fixed;left:0px;right:0px;/* top: 0px; *//* bottom: 0px; */height: 100%;}
.contain.int .intro .msg{transition: all 1s; opacity:0; position: absolute;left:50%;top: 15%;margin-left: -75px;width:150px;height: 30px;background: url(../images/common/intro_txt.png) no-repeat;background-size: 100% auto;font-size: 0px;z-index: 300;}
.contain.int .intro .logo{transition: all 1.5s;opacity:0;position: absolute;left:50%;bottom: 9%;margin-left: -35vw;width: 70vw;height: 30vw;background: url(../images/common/intro_logo.png) no-repeat;background-size: 100% auto;font-size: 0px;z-index: 400;}
.contain.int .intro .box{height: 100%;transition: all 1.4s;/* transition-delay: 0.8s; */}
.contain.int .intro .box.bx1{background-color:#ffffff;position: absolute;width:100%;z-index:200;left: 0%;}
.contain.int .intro .box.bx2{background-color:#94f2c7;position: absolute;width:100%;z-index:200;left: 0%;/* display:none; */}
.contain.int .intro .box .line{height:2px;background-color: #dddddd;display:block;position: absolute;width:100%;transition: all 0.9s;/* transition-delay: 0.8s; */}
.contain.int .intro .box.bx1 .line{background-color: #ff414d;margin-top: -4.5vh; left:0%;}
.contain.int .intro .box.bx2 .line{background-color: #000000;margin-top: 0.5vh; left:0%;}

.contain.int .intro .box .line.L1{top: calc(100% * 1/10);}
.contain.int .intro .box .line.L2{top: calc(100% * 2/10);}
.contain.int .intro .box .line.L3{top: calc(100% * 3/10);}
.contain.int .intro .box .line.L4{top: calc(100% * 4/10);}
.contain.int .intro .box .line.L5{top: calc(100% * 5/10);}
.contain.int .intro .box .line.L6{top: calc(100% * 6/10);}
.contain.int .intro .box .line.L7{top: calc(100% * 7/10);}
.contain.int .intro .box .line.L8{top: calc(100% * 8/10);}
.contain.int .intro .box .line.L9{top: calc(100% * 9/10);}
.contain.int .intro .box .line.L10{top: calc(100% * 10 / 10);}






.contain.int .intro .box.bx1{}
.contain.int .intro .box.bx1 .L1{left: -100%;transition-delay: 0.4s;}
.contain.int .intro .box.bx1 .L2{}
.contain.int .intro .box.bx1 .L3{}
.contain.int .intro .box.bx1 .L4{}
.contain.int .intro .box.bx1 .L5{    left: 100%;}
.contain.int .intro .box.bx1 .L6{}
.contain.int .intro .box.bx1 .L7{}
.contain.int .intro .box.bx1 .L8{}
.contain.int .intro .box.bx1 .L9{}
.contain.int .intro .box.bx1 .L10{}

.contain.int .intro.on .bx1{left: 0%;}
.contain.int .intro.on .bx1 .L1{left: -49%;}
.contain.int .intro.on .bx1 .L2{left: -80%;}
.contain.int .intro.on .bx1 .L3{left: -90%;}
.contain.int .intro.on .bx1 .L4{left: -40%;transition-delay: 0.3s;}
.contain.int .intro.on .bx1 .L5{left: -50%;transition-delay: 0.3s;}
.contain.int .intro.on .bx1 .L6{left: -110%;}
.contain.int .intro.on .bx1 .L7{left: -70%;}
.contain.int .intro.on .bx1 .L8{left: 80%;}
.contain.int .intro.on .bx1 .L9{left: -100%;}
.contain.int .intro.on .bx1 .L10{left: -70%;}


.contain.int .intro .box.bx2{}
.contain.int .intro .box.bx2 .L1{}
.contain.int .intro .box.bx2 .L2{}
.contain.int .intro .box.bx2 .L3{}
.contain.int .intro .box.bx2 .L4{}
.contain.int .intro .box.bx2 .L5{}
.contain.int .intro .box.bx2 .L6{}
.contain.int .intro .box.bx2 .L7{}
.contain.int .intro .box.bx2 .L8{}
.contain.int .intro .box.bx2 .L9{}
.contain.int .intro .box.bx2 .L10{}


.contain.int .intro.on .bx2{left: 70%;}
.contain.int .intro.on .bx2 .L1{left: 21%;}
.contain.int .intro.on .bx2 .L2{left: 70%;}
.contain.int .intro.on .bx2 .L3{left: 0%;}
.contain.int .intro.on .bx2 .L4{left: 15%;}
.contain.int .intro.on .bx2 .L5{left: 20%;transition-delay: 0.2s;transition-duration: 1.2s;}
.contain.int .intro.on .bx2 .L6{left: 0%;}
.contain.int .intro.on .bx2 .L7{left: 20%;}
.contain.int .intro.on .bx2 .L8{left: 80%;}
.contain.int .intro.on .bx2 .L9{left: 40%;}
.contain.int .intro.on .bx2 .L10{ left:10%;}


.contain.int .intro.on .msg{ opacity:1; transition-delay: 0.7s;}
.contain.int .intro.on .logo{opacity:1;transition-delay: 0.5s;}





.contain.myinfo{}
.contain.myinfo>.pbd>.pbt{ height:56px;}
.contain.myinfo>.pbd>.pbt .bts .btn{ background:#70f5c4; border-color: #70f5c4; font-family:"BlairMd"; color: #000000; font-weight: normal;}
.contain.myinfo .sec.myinfo{}
.contain.myinfo .sec.myinfo .form{margin: 0 10px;padding: 60px 0 30px;background: url(../images/common/dot_line.png) repeat-x;background-size: 6px auto;}
.contain.myinfo .sec.myinfo .form .msg{ font-size: 18px;  text-align: center;}
.contain.myinfo .sec.myinfo .form .list{margin: 40px auto 60px auto;width:200px;}
.contain.myinfo .sec.myinfo .form .list>li{display:flex; align-items: center; margin-top: 10px;}
.contain.myinfo .sec.myinfo .form .list>li .dt{width:80px; font-size: 16px; color: #999999;}
.contain.myinfo .sec.myinfo .form .list>li .dd{ width:100%; display:flex; justify-content: space-between;}
.contain.myinfo .sec.myinfo .form .list>li .dd .select{border: #cccccc solid 1px; border-width: 1px 0px; font-family:"BlairMd"; font-size: 13px; padding-left: 0px;}
.contain.myinfo .sec.myinfo .form .account{ font-family:"BlairMd"; text-transform: uppercase; text-align: center;}
.contain.myinfo .sec.myinfo .form .account a{padding: 5px 0px;display:block;font-size: 12px;text-decoration: underline;}

.contain.myinfo .sec .hdt{font-family:"BlairMd";font-size: 21px;min-height: 100px;text-align: center;padding-top: 5px;}

.contain.myinfo .steps{height:36px;}
.contain.myinfo .steps ul.st{display:flex;border-top: #000000 solid 1px;align-items: center;/* height:36px; */position:fixed;left:0;right:0px;bottom: 56px;}
.contain.myinfo .steps ul.st>li{width:100%;/* height:36px; */text-align: right;font-family:"BlairMd";font-size: 21px;color: #000000;border-left: #000000 solid 1px;padding-right: 12px;background:#000000;color: #acacac;}
.contain.myinfo .steps ul.st>li:first-child{ border-left-width: 0px;}
.contain.myinfo .steps.st1{}
.contain.myinfo .steps.st1 ul.st>li:nth-child(1){color: #ffffff;}
.contain.myinfo .steps.st1 ul.st>li:nth-child(1) ~ li{ background-color: #ffffff; color: #000000;}

.contain.myinfo .steps.st2{}
.contain.myinfo .steps.st2 ul.st>li:nth-child(2) {color: #ffffff;}
.contain.myinfo .steps.st2 ul.st>li:nth-child(2) ~ li{ background-color: #ffffff; color: #000000;}


.contain.myinfo .steps.st3{}
.contain.myinfo .steps.st3 ul.st>li:nth-child(3) {color: #ffffff;}


.contain.myinfo>.pbd>.pbt .bts .btn.btnLater{ background-color: #e4e4e4; border-color: #e4e4e4;}


.contain.myinfo .sec.style ul.list{border-bottom: #000000 solid 1px;/* padding: 0px 0px 30px 0px; */}
.contain.myinfo .sec.style ul.list>li{border-top: #000000 solid 1px;  text-align: center;}
.contain.myinfo .sec.style ul.list>li label{font-family:"BlairMd";text-transform: uppercase;display:block;padding: 6px 0;font-size: 13px;}
.contain.myinfo .sec.style ul.list>li label input{ position:absolute; left:0;}
.contain.myinfo .sec.style ul.list>li label input + span{}
.contain.myinfo .sec.style ul.list>li label input:checked + span{ color:#66dfb2;}

.contain.myinfo .sec.photo{}
.contain.myinfo .sec.photo .pics{position: relative;/* height: 300px; */}
.contain.myinfo .sec.photo .pics ul.list{display:flex;/* position:absolute; *//* left:50%; *//* margin-left: -90px; */transform: translateX( calc(50% - 104px) );}
.contain.myinfo .sec.photo .pics ul.list>li{border: #000000 solid 2px;width:188px;margin: 0 10px;position: relative;}
.contain.myinfo .sec.photo .pics ul.list>li:first-child{}
.contain.myinfo .sec.photo .pics ul.list>li .img{display:block;padding-bottom: calc(4% / 3 * 100 );position: relative;}
.contain.myinfo .sec.photo .pics ul.list>li .img img{position:absolute;left:0px;top: 0px;width:100%;object-fit: cover;height: 100%;}
.contain.myinfo .sec.photo .pics ul.list>li .bts{position:absolute;right: 0px;top: 0px;z-index: 100;}
.contain.myinfo .sec.photo .pics ul.list>li .bts .del{/* position:absolute; *//* right: 10px; *//* top: 9px; */width: 30px;height: 30px;/* text-indent:-9999px; */overflow:hidden;background: url(../images/common/popLayerClose.png) no-repeat center;background-size: 20px auto;background-color:transparent;border:none;padding:0;cursor: pointer;z-index: 100;font-size: 0;display: block;}
.contain.myinfo .sec.photo .pics ul.list>li .btnAdd{position:absolute;left:0px;top: 0px;bottom: 0px;display:block;height:100%;background: url(../images/common/intro_pic.png) no-repeat center;background-size: 74px auto;font-size: 0px;/* height: 100%; */width: 100%;}
 
.contain.myinfo .sec.coms{}
.contain.myinfo .sec.coms .box{text-align: center;margin: 0 10px;padding: 63px 0 30px 0;background: url(../images/common/dot_line.png) repeat-x;background-size: 6px auto;}
.contain.myinfo .sec.coms .msgs{font-size: 18px;color: #000000;}
.contain.myinfo .sec.coms .msgs em{color: #66dfb2;}
.contain.myinfo .sec.coms .total{color: #666666;margin-top: 40px;}
.contain.myinfo .sec.coms .total em{color: #000000; font-weight: bold;}