@charset "utf-8";


.contain.result{}
.contain.result .pageHd{ text-align: center;}
.contain.result .pageHd .tit{}
.secHashWord{ padding: 10px 0 40px;}
.secHashWord .list{display:flex;padding: 4px 3px;flex-wrap: wrap;justify-content: center;}
.secHashWord .list>li{margin: 2px 2px;}
.secHashWord .list>li .hash{position:relative;padding: 0px 22px 0px 7px;/* border: #ddd solid 1px; */display: block;border-radius: 4px;}
.secHashWord .list>li .hash .tt{font-size: 11px;display: inline-block;vertical-align: 1px;}
.secHashWord .list>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}


.secHashWord .sch{padding:0 16px;position:relative;/* margin-bottom: 10px; *//* margin-top: 10px; */}
.secHashWord .sch::before{content:"#";color: #ff424d;font-family:"BlairMd";font-size: 20px;position:absolute;left:45px;top: 6px;}
.secHashWord .sch .key{background: url(../images/common/icoFormSch.png) no-repeat 0px center;padding-left:50px;background-size: auto 24px;border-bottom: #ff444f solid 1px;font-size: 18px; font-family:"BlairMd","NotoSansCJKkr"; }
.secHashWord .sch .key:focus{border-bottom: #ff444f solid 1px !important; padding-bottom: 5px;}

.contain.result .tabSch{}

.secResult{margin: 0 0px;padding: 21px 16px 15px 16px;}
.secResult .rsOpts{display:flex;justify-content: space-between;margin-bottom: 0px;padding: 0 0px;}
.secResult .rsOpts .sort{}
.secResult .rsOpts .sort .select{display: inline-block;width:auto;border: none;height:36px;padding-left: 0px;font-size: 13px;}
.secResult .rsOpts .filt .btnFilter{width:36px;height:36px;display:block;margin-left: 9px;font-size: 0px;background:url(../images/common/top_menu_filter.png) no-repeat;background-size: 100% auto;}
.secResult .tots{ font-size: 13px;margin-bottom: 5px;padding: 3px 0px; font-family:"BlairMd";}
.secResult .tots .dt{color: #999999;}
.secResult .tots .num{margin-left: 6px; color: #fd5555;}


.secResult .acctList{padding-top: 5px;margin: 0  -6px;}
.secResult .acctList .list{display: flex;margin-right: -0px;position: relative;overflow: hidden;flex-wrap: wrap;/* justify-content: space-between; */padding: 0 0px 0px 0px;}
.secResult .acctList .list>li{width: calc(33.3333% - 0px);margin-bottom: 20px;margin-right: 0px;max-width: 140px;padding: 0px 10px;}
.secResult .acctList .list>li .item{position: relative;margin: auto;padding: 0 0px;}
.secResult .acctList .list>li .item .img{display:block;position:relative;/* padding-bottom: 100%; */margin: auto;/* max-width: 80px; *//* max-height: 80px; */width: 70px;height: 80px;}
.secResult .acctList .list>li .item .img>.lk{display: block;position: relative;/* height: 100%; *//* left: 0; *//* top: 0; */width: 100%;overflow: hidden;/* border-radius: 100%; */padding-bottom: 113%;}
.secResult .acctList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.secResult .acctList .list>li .item .name{text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 8px; font-family:"NotoSansCJKkr-Md";}
.secResult .acctList .list>li .item .foll{    text-align: center;    white-space: nowrap;    margin-top: -3px;}
.secResult .acctList .list>li .item .foll .checkbox>span::before{transform: scale(0.8); margin-left: 0px;}
.secResult .acctList .list>li .item .foll .checkbox>span:after{content:"Follow";font-family:"BlairMd";font-size: 11px;margin-left: -3px;}
.secResult .acctList .list>li .item .foll .checkbox input:checked + span:after{ content:"Following";}
.secResult .acctList .uiLoadMore{padding:0 8px;margin-top: -15px;}


.uiLkSet{}
.uiLkSet>.slideLookPic{    border: #000000 solid 2px;}
.uiLkSet>.slideLookPic .pagination{width:auto;left: auto;padding: 2px 9px 2px 9px;font-family:"BlairMd";font-size: 13px;bottom: 11px;background: rgba(228,228,228,0.7);border-radius: 5px;right: 10px;color: #000000;}
.uiLkSet>.slideLookPic .slide{}
.uiLkSet>.slideLookPic .slide .pic{display:block; padding-bottom:calc(960% / 720 * 100 ); position:relative;}
.uiLkSet>.slideLookPic .slide .pic img{object-fit: cover;position: absolute;left: 0;width: 100%;height: 100%;}
.uiLkSet>.match{display:flex;border-bottom: #c7c7c7 solid 1px;align-items: center;}
.uiLkSet>.match .box{border-left: #c7c7c7 solid 1px;width: 100%;text-align: center;display:flex;font-family:"BlairMd";font-size: 12px;}
.uiLkSet>.match .box:first-child{ border-left-width: 0px;}
.uiLkSet>.match .box .bt{display:block;position:relative;height:35px;width:100%;display:flex;align-items: center;justify-content: center;overflow: hidden;}
.uiLkSet>.match .box .bt .txt{ position:relative;}
.uiLkSet>.match .box.mat .bt{    -webkit-tap-highlight-color: rgba(0,0,0,0);}
.uiLkSet>.match .box.mat .bt .bar{display:block;background:#70f5c4;position:absolute;left:0px;bottom: 0px;width: 0%;top: 0;z-index:0;}
.uiLkSet>.match .box.mat .bt .amt{z-index:0;margin-right: 4px;}
.uiLkSet>.match .box.mat .bt.com .bar{transition-duration: 0s;transition: all 0.4s;}

.uiLkSet>.info{padding: 20px 15px 0px 15px;}
.uiLkSet>.info .user{   position:relative;}
.uiLkSet>.info .user .pic{ position:absolute; left:0px; top: 0px;}
.uiLkSet>.info .user .pic img{width:40px;height:47px;border-radius: 100%;display: block;}
.uiLkSet>.info .user .mem{min-height: 50px;margin: 0 45px;text-align: center;display: block;}
.uiLkSet>.info .user .mem .nm{font-size: 15px;font-family: "BlairMd","NotoSansCJKkr-Md";line-height: 1.1em;color: #101010;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-transform: uppercase;padding-top: 8px;}
.uiLkSet>.info .user .mem .dt{font-size: 10px;color: #a3a3a3; font-family:"BlairMd"; text-transform: uppercase;}
.uiLkSet>.info .user .mem .dt .k{/* color: #66dfb2; */}
.uiLkSet>.info .user .mem .dt .n{}
.uiLkSet>.info .user .mem .dt .n::before{content: ",";/* width:1px; *//* height:14px; *//* background:#e5e5e5; *//* display: inline-block; *//* vertical-align: middle; */margin: 0 5px 0 0;}
.uiLkSet>.info .user .bts{position:absolute;right: -10px;top: 4px;}
.uiLkSet>.info .user .bts .bt{}
.uiLkSet>.info .user .bts .bt.more{width: 40px;height: 40px;background: url(../images/common/ico_look_more.png) no-repeat;background-size: 100% auto;font-size: 0px;display: block;}
.uiLkSet>.info .desc{margin-top: 15px;}
.uiLkSet>.info .desc a{display:block;}
.uiLkSet>.info .time{color: #999999;font-size: 10px;margin-top: 4px;}
.uiLkSet>.data{padding: 5px 15px 6px 15px;}
.uiLkSet>.data .list{overflow:hidden;}
.uiLkSet>.data .list>li{float:left;margin-right: 3px;}
.uiLkSet>.data .list>li .bt{display:block;position:relative;padding-left: 30px;height: 24px;}
.uiLkSet>.data .list>li .bt:before{width: 24px;height: 24px;display:block;background: no-repeat;background-size: 28px auto;content:"";position:absolute;left:0px;top: -3px;}
.uiLkSet>.data .list>li .bt span{line-height: 20px;display: inline-block;vertical-align: middle;/* margin-top: 6px; */font-family:"BlairMd";font-size: 13px;}
.uiLkSet>.data .list>li.cool .bt span{font-size: 0px;}
.uiLkSet>.data .list>li.cool .bt:before{ background-image: url(../images/common/ico_look_like.png); }
.uiLkSet>.data .list>li.like .bt{padding-left: 0px;}
.uiLkSet>.data .list>li.like .bt:before{display:none;}
.uiLkSet>.data .list>li.reply .bt:before{ background-image: url(../images/common/ico_look_reply.png);}
.uiLkSet>.data .list>li.scrap{float:right;margin-right: -7px;}
.uiLkSet>.data .list>li.scrap .bt{font-size: 0px;padding: 0;width: 28px;}
.uiLkSet>.data .list>li.scrap .bt:before{ background-image: url(../images/common/ico_look_scrap.png); font-size: 0px;}
.uiLkSet>.tags{border-bottom: #c2c2c2 solid 1px;border-top: #c2c2c2 solid 1px;overflow-x: auto;padding: 0 5px;}
.uiLkSet>.tags .list{/* display:flex; *//* padding: 3px 3px; *//* flex-wrap: wrap; *//* justify-content: center; */white-space: nowrap;text-align: center;}
.uiLkSet>.tags .list>li{margin: 2px 2px;display: inline-block;}
.uiLkSet>.tags .list>li .hash{position:relative;padding: 3px 7px 3px 7px;/* border: #ddd solid 1px; */display: block;border-radius: 4px;}
.uiLkSet>.tags .list>li .hash .tt{font-size: 11px;display: inline-block;vertical-align: 1px;}
.uiLkSet>.tags .list>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}


.secLk.look{}
.secLk.look .lookList{}
.secLk.look .lookList>li{margin-top: 30px;}
.secLk.look .lookList>li:first-child{margin-top: 0px;}




.contain.cool{}
.contain.cool .coolList{padding-top: 25px;}
.contain.cool .coolList .list{display: flex;margin-right: -0px;position: relative;overflow: hidden;flex-wrap: wrap;/* justify-content: space-between; */padding: 0 0px 0px 0px;}
.contain.cool .coolList .list>li{width: calc(33.3333% - 0px);margin-bottom: 20px;margin-right: 0px;max-width: 140px;padding: 0px 10px;}
.contain.cool .coolList .list>li .item{position: relative;margin: auto;padding: 0 0px;}
.contain.cool .coolList .list>li .item .img{display:block;position:relative;/* padding-bottom: 100%; */margin: auto;/* max-width: 80px; *//* max-height: 80px; */width: 70px;height: 80px;}
.contain.cool .coolList .list>li .item .img>.lk{display: block;position: relative;/* height: 100%; *//* left: 0; *//* top: 0; */width: 100%;overflow: hidden;/* border-radius: 100%; */padding-bottom: 113%;}
.contain.cool .coolList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.contain.cool .coolList .list>li .item .name{text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 8px; font-family:"NotoSansCJKkr-Md";}
.contain.cool .coolList .list>li .item .foll{    text-align: center;    white-space: nowrap;    margin-top: -3px;}
.contain.cool .coolList .list>li .item .foll .checkbox>span::before{transform: scale(0.8); margin-left: 0px;}
.contain.cool .coolList .list>li .item .foll .checkbox>span:after{content:"Follow";font-family:"BlairMd";font-size: 11px;margin-left: -3px;}
.contain.cool .coolList .list>li .item .foll .checkbox input:checked + span:after{ content:"Following";}
.contain.cool .coolList .uiLoadMore{padding:0 8px;margin-top: -15px;}



.contain.comment{}
.contain.comment .sec.comt{margin:10px 16px 0 16px; padding-bottom: 15px}
.contain.comment .sec.comt ul.list{}
.contain.comment .sec.comt ul.list>li{margin-top: 15px;}
.contain.comment .sec.comt ul.list>li:first-child{margin-top: 0px;}
.contain.comment .sec.comt ul.list>li .comts{position:relative;}
.contain.comment .sec.comt ul.list>li .comts .pic{width: 36px;position:absolute;display:block;left:0px;top: 5px;height: 45px;}
.contain.comment .sec.comt ul.list>li .comts .pic .img{position:absolute;display: block;padding-bottom: calc(4% / 3.5 * 100);width: 100%;}
.contain.comment .sec.comt ul.list>li .comts .pic .img img{object-fit: cover;border-radius: 100%;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;}
.contain.comment .sec.comt ul.list>li .comts .ment{margin-left: 50px;}
.contain.comment .sec.comt ul.list>li .comts .ment .name{font-size: 13px; font-family:"BlairMd","NotoSansCJKkr";}
.contain.comment .sec.comt ul.list>li .comts .ment .text{font-size: 11px; margin-top: 2px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info{font-size: 11px;display:flex;margin-top: 0px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info .time{color: #999999;padding:5px 0; margin-right: 15px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info .btns{}
.contain.comment .sec.comt ul.list>li .comts .ment .info .btns .bt.rp{color: #999999; display: inline-block;padding:5px 0;}

.contain.comment .sec.comt ul.list>li ul li{margin-top: 0px;}
.contain.comment .sec.comt ul.list>li ul li .comts .pic{ width:28px; left:10px;}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .name{font-size: 10px;}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .text{font-size: 10px;}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .info .time{ padding: 0;}


.contain.comment .sec.write{height:56px;}
.contain.comment .sec.write .box{position:fixed;height:56px;border-top: #c2c2c2 solid 1px;bottom: 0px;left: 0px;right: 0px;background: #ffffff;padding: 0 0 0 16px;}
.contain.comment .sec.write .box .pic{}
.contain.comment .sec.write .box .pic{width: 36px;position:absolute;display:block;left:16px;top: 6px;height: 45px;}
.contain.comment .sec.write .box .pic .img{position:absolute;display: block;padding-bottom: calc(4% / 3.5 * 100);width: 100%;}
.contain.comment .sec.write .box .pic .img img{object-fit: cover;border-radius: 100%;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;}
.contain.comment .sec.write .box .write{margin: 0px 0 0px 52px;position:relative;padding: 11px 0 0 0;}
.contain.comment .sec.write .box .write::before{content:"";width:1px;height:22px;background:#aaaaaa;position:absolute;left:0px;top: 15px;}
.contain.comment .sec.write .box .write .ment{border: none;padding:0 10px;font-size: 13px;height: 30px;width: 100%;outline: none;}
.contain.comment .sec.write .box .write .send{width:90px;height:55px;position:absolute;right: 0px;top: 0px;color: #70f5c4;display:flex;align-items: center;justify-content: center;font-family:"BlairMd";font-size: 13px;}