@charset "utf-8";


.contain.result{}
.contain.result .pageHd{ text-align: center;}
.contain.result .pageHd .tit{}
.contain.search .sec.formSch{padding: 0px 0 20px;}
.contain.search .sec.formSch .list{display:flex;padding: 4px 3px;flex-wrap: wrap;justify-content: center;}
.contain.search .sec.formSch .list>li{margin: 2px 2px;}
.contain.search .sec.formSch .list>li .hash{position:relative;padding: 0px 22px 0px 7px; display: block;border-radius: 4px;}
.contain.search .sec.formSch .list>li .hash .tt{font-size: 11px;display: inline-block;vertical-align: 1px;}
.contain.search .sec.formSch .list>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}


.contain.search .sec.formSch .sch{margin: 0 16px;position:relative;}
.contain.search .sec.formSch .sch::before{color: #ff424d;font-family:"BlairMd";font-size: 20px;position:absolute;left:45px;top: 6px;}
.contain.search .sec.formSch .sch .key{background: url(../images/common/icoFormSch.png) no-repeat 0px center;padding: 5px 80px 5px 30px;background-size: auto 24px;font-size: 18px;font-family:"BlairMd","NotoSansCJKkr";}
.contain.search .sec.formSch .sch .key:focus{padding-bottom: 5px;}
.contain.search .sec.formSch .sch .bt.sch{display:none;}
.contain.search .sec.formSch .sch .bt.cancel{position:absolute;right: 1px;top: 12px;width: 25px;height: 16px;background:url(../images/common/recent_kwd_del.png) no-repeat;background-size: 100% auto;font-size: 0px;}

.contain.result .tabSch{}

.contain.search .secResult{margin: 0 0px;padding: 0px 0px 0px 0px;}
.contain.search .secResult .rsOpts{display:flex;justify-content: space-between;margin-bottom: 0px;padding: 0 0px;}
.contain.search .secResult .rsOpts .sort{}
.contain.search .secResult .rsOpts .sort .select{display: inline-block;width:auto;border: none;height:36px;padding-left: 0px;font-size: 13px;}
.contain.search .secResult .rsOpts .filt .btnFilter{width:36px;height:36px;display:block;margin-left: 9px;font-size: 0px;background:url(../images/common/top_menu_filter.png) no-repeat;background-size: 100% auto;}
.contain.search .secResult .tots{ font-size: 13px;margin-bottom: 5px;padding: 3px 0px; font-family:"BlairMd";}
.contain.search .secResult .tots .dt{color: #999999;}
.contain.search .secResult .tots .num{margin-left: 6px; color: #fd5555;}
.contain.search .secResult .tags{border-bottom: #c2c2c2 solid 1px;border-top: #c2c2c2 solid 1px;overflow-x: auto;margin: 0px 0px 20px 0px;}
.contain.search .secResult .tags .tg{padding: 3px 3px;white-space: nowrap;text-align: center;}
.contain.search .secResult .tags .tg>li{margin: 2px 2px;display: inline-block;}
.contain.search .secResult .tags .tg>li .hash{position:relative;padding: 0px 7px 0px 7px;display: block;border-radius: 4px;}
.contain.search .secResult .tags .tg>li .hash .tt{font-size: 12px;display: inline-block;vertical-align: 1px;}
.contain.search .secResult .tags .tg>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}
.contain.search .secResult .resultList{}


.contain.search .secResult.acct{padding: 10px 0px;}
.contain.search .secResult .acctList{padding-top: 5px;}
.contain.search .secResult .acctList .list{display:block;;position: relative;padding: 0 0px 0px 0px;}
.contain.search .secResult .acctList .list>li{margin-top: 13px;padding: 0px 20px;}
.contain.search .secResult .acctList .list>li:first-child{margin-top: 0px;}
.contain.search .secResult .acctList .list>li .item{position: relative;margin: auto;padding: 0 0px;color: #8a8a8a;display: flex;min-height: 57px;align-items: center;justify-content: space-between;}
.contain.search .secResult .acctList .list>li .item .img{display:block;position:relative;width: 49px;position: absolute;left: 0px;top: 0px;}
.contain.search .secResult .acctList .list>li .item .img>.lk{display: block;position: relative;height: 100%;width: 100%;overflow: hidden;padding-bottom: calc(4% / 3.5 * 100);}
.contain.search .secResult .acctList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.contain.search .secResult .acctList .list>li .item .info{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin: 0px 0px 0px 65px;font-family: "NotoSansCJKkr";font-size: 10px;width: 100%;}
.contain.search .secResult .acctList .list>li .item .info .nk{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.contain.search .secResult .acctList .list>li .item .info .id{ text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.contain.search .secResult .acctList .list>li .item .name{}
.contain.search .secResult .acctList .list>li .item .foll{white-space: nowrap;}
.contain.search .secResult .acctList .list>li .item .foll .checkbox>span{width:50px;height:20px;background: url(../images/common/ico_my_follow.png) no-repeat;background-size: 100% auto;font-size: 0px;}
.contain.search .secResult .acctList .list>li .item .foll .checkbox>span::before{display:none;}
.contain.search .secResult .acctList .list>li .item .foll .checkbox input:checked + span{ background-position-y: -30px;}
.contain.search .secResult .acctList .uiLoadMore{padding:0 8px;margin-top: -15px;}

.contain.search .secResult .tabCtn .resultList .uiLoadMore{ margin-top:calc(50vh - 190px );}
.contain.search.tag .secResult .tabCtn .resultList .uiLoadMore{margin-top: calc(50vh - 130px );}
.contain.search .secResult .tabCtn .acctList .uiLoadMore{ margin-top:calc(50vh - 140px );}
.contain.search .secResult .tabCtn .list.load + .uiLoadMore{margin-top:0px;}


.uiLkSet{}
.uiLkSet>.slideLookPic{border: #000000 solid 2px;background: #000000;}
.uiLkSet>.slideLookPic .pagination{width:auto;left: auto;padding: 7px 13px 7px 13px;font-family:"BlairMd";font-size: 11px;bottom: 20px;background: rgba(0,0,0,1.7);/* border-radius: 5px; */right: 18px;color: #ffffff;}
.uiLkSet>.slideLookPic .slide{}
.uiLkSet>.slideLookPic .slide .pic{display:block;padding-bottom: calc(4% / 3 * 100 );position:relative;}
.uiLkSet>.slideLookPic .slide .pic img{object-fit: cover;position: absolute;left: 0;width: 100%;height: 100%;}
.uiLkSet>.match{display:flex;border-bottom: #c7c7c7 solid 1px;align-items: center;}
.uiLkSet>.match .box{border-left: #c7c7c7 solid 1px;width: 100%;text-align: center;display:flex;font-family:"BlairMd";font-size: 12px;}
.uiLkSet>.match .box:first-child{ border-left-width: 0px;}
.uiLkSet>.match .box .bt{display:block;position:relative;height: 39px;width:100%;display:flex;align-items: center;justify-content: center;overflow: hidden;}
.uiLkSet>.match .box .bt .txt{ position:relative;}
.uiLkSet>.match .box.mat .bt{    -webkit-tap-highlight-color: rgba(0,0,0,0);}
.uiLkSet>.match .box.mat .bt .bar{display:block;background:#70f5c4;position:absolute;left:0px;bottom: 0px;width: 0%;top: 0;z-index:0;}
.uiLkSet>.match .box.mat .bt .amt{z-index:0;margin-right: 4px;}
.uiLkSet>.match .box.mat .bt.com .bar{transition-duration: 0s;transition: all 0.4s;}

.uiLkSet>.info{padding: 13px 15px 0px 15px;}
.uiLkSet>.info .user{   position:relative;}
.uiLkSet>.info .user .pic{position:absolute;left:0px;top: 1px;display: block;width: 36px;}
.uiLkSet>.info .user .pic .img{padding-bottom: calc( 4% / 3.4 * 100);display: block;position: relative;width: 100%;}
.uiLkSet>.info .user .pic .img img{width:40px;border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}
.uiLkSet>.info .user .mem{min-height: 50px;margin: 0 45px;text-align: center;display: block;}
.uiLkSet>.info .user .mem .nm{font-size: 15px;font-family: "BlairMd","NotoSansCJKkr-Md";line-height: 1.1em;color: #101010;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;text-transform: uppercase;padding-top: 8px;}
.uiLkSet>.info .user .mem .dt{font-size: 10px;color: #a3a3a3; font-family:"BlairMd"; text-transform: uppercase;}
.uiLkSet>.info .user .mem .dt .k{ }
.uiLkSet>.info .user .mem .dt .n{}
.uiLkSet>.info .user .mem .dt .n::before{content: ","; margin: 0 5px 0 0;}
.uiLkSet>.info .user .bts{position:absolute;right: -2px;top: 0px;}
.uiLkSet>.info .user .bts .bt{}
.uiLkSet>.info .user .bts .bt.more{width: 40px;height: 40px;background: url(../images/common/ico_look_more.png) no-repeat center;background-size: 40px auto;font-size: 0px;display: block;}
.uiLkSet>.info .desc{margin-top: 15px;font-size: 13px; position:relative;}
.uiLkSet>.info .desc a.txt{display:block;}
.uiLkSet>.info .desc a.more{display:none;}
.uiLkSet>.info .desc.elips a.txt{display:block;-webkit-line-clamp:2;max-height:3em;-webkit-box-orient:vertical;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;word-break:break-all;margin-right: 50px;}
.uiLkSet>.info .desc.elips a.more{display:block;font-size: 12px;color: #999999;position:absolute;right: 4px;bottom: -3px;display: block;padding: 3px 0px;}
.uiLkSet>.info .time{color: #999999;font-size: 10px;margin-top: 4px;}
.uiLkSet>.data{padding: 15px 20px 15px 15px;}
.uiLkSet>.data .dl{overflow:hidden;}
.uiLkSet>.data .dl>li{float:left;margin-right: 3px;}
.uiLkSet>.data .dl>li .bt{display:block;position:relative;padding-left: 31px;height: 28px;}
.uiLkSet>.data .dl>li .bt:before{width: 28px;height: 28px;display:block;background: no-repeat;background-size: 28px auto;content:"";position:absolute;left:0px;top: -2px;}
.uiLkSet>.data .dl>li .bt span{line-height: 20px;display: inline-block;vertical-align: middle;font-family:"BlairMd";font-size: 12px;}
.uiLkSet>.data .dl>li.cool .bt span{font-size: 0px;}
.uiLkSet>.data .dl>li.cool .bt:before{ background-image: url(../images/common/ico_look_like.png); }
.uiLkSet>.data .dl>li.like .bt{padding-left: 0px;}
.uiLkSet>.data .dl>li.like .bt:before{display:none;}
.uiLkSet>.data .dl>li.reply .bt:before{ background-image: url(../images/common/ico_look_reply.png);}
.uiLkSet>.data .dl>li.scrap{float:right;margin-right: -7px;}
.uiLkSet>.data .dl>li.scrap .bt{font-size: 0px;padding: 0;width: 40px;margin-top: -2px;}
.uiLkSet>.data .dl>li.scrap .bt:before{background-image: url(../images/common/ico_look_scrap.png);font-size: 0px;left: 7px;top: 0;}
.uiLkSet>.data .dl>li.scrap .bt.on:before{ background-position-y: -30px;}
.uiLkSet>.tags{border-bottom: #c2c2c2 solid 1px;border-top: #c2c2c2 solid 1px;overflow-x: auto;padding: 0 5px;}
.uiLkSet>.tags .tg{white-space: nowrap;text-align: center;}
.uiLkSet>.tags .tg>li{margin: 1px 2px;display: inline-block;}
.uiLkSet>.tags .tg>li .hash{position:relative;padding: 3px 7px 3px 7px; display: block;border-radius: 4px;}
.uiLkSet>.tags .tg>li .hash .tt{font-size: 11px;display: inline-block;vertical-align: 1px;}
.uiLkSet>.tags .tg>li .hash .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: -1px;font-size: 0px;}


.contain.look .secLk.look{}
.contain.look .secLk.look .lookList{}
.contain.look .secLk.look .lookList>li{margin-top: 35px;}
.contain.look .secLk.look .lookList>li:first-child{margin-top: 0px;}

.contain.look .secLk.look .uiLoadMore{padding:0 8px;margin-top:calc(50vh - 106px );}
.contain.look .secLk.look ul.load + .uiLoadMore{margin-top:0px;}


.contain.cool{}
.contain.cool .coolList{padding-top: 16px;}
.contain.cool .coolList .list{display: flex;margin-right: -0px;position: relative;overflow: hidden;flex-wrap: wrap;padding: 0 0px 0px 0px;}
.contain.cool .coolList .list>li{width: calc(33.3333% - 0px);margin-bottom: 37px;margin-right: 0px;max-width: 140px;padding: 0px 10px;}
.contain.cool .coolList .list>li .item{position: relative;margin: auto;padding: 0 0px;}
.contain.cool .coolList .list>li .item .img{display:block;position:relative;margin: auto;width: 70px;}
.contain.cool .coolList .list>li .item .img>.lk{display: block;position: relative;width: 100%;overflow: hidden;padding-bottom: calc(4% / 3.4 * 100);}
.contain.cool .coolList .list>li .item .img img{object-fit: cover;max-width:inherit;position:absolute;left: 0;top: 0;width:100%;height:100%;border-radius: 100%;}
.contain.cool .coolList .list>li .item .name{text-align: center;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-top: 8px;font-family: "BlairMd","NotoSansCJKkr";font-size: 13px;}
.contain.cool .coolList .list>li .item .foll{    text-align: center;    white-space: nowrap;    margin-top: -3px;}
.contain.cool .coolList .list>li .item .foll .checkbox{}
.contain.cool .coolList .list>li .item .foll .checkbox>span{width:50px;height:20px;background: url(../images/common/ico_my_follow.png) no-repeat;background-size: 100% auto;font-size: 0px;}
.contain.cool .coolList .list>li .item .foll .checkbox>span::before{display:none;}
.contain.cool .coolList .list>li .item .foll .checkbox input:checked + span{ background-position-y: -30px;}
.contain.cool .coolList .list + .uiLoadMore{padding:0 8px;margin-top:calc(50vh - 106px );}
.contain.cool .coolList .list.load + .uiLoadMore{margin-top: -25px;}


.contain.comment{}
.contain.comment .sec.comt{margin:10px 16px 0 16px; padding-bottom: 15px}
.contain.comment .sec.comt ul.list{}
.contain.comment .sec.comt ul.list>li{margin-top: 15px;}
.contain.comment .sec.comt ul.list>li:first-child{margin-top: 0px;}
.contain.comment .sec.comt ul.list>li .comts{position:relative;}
.contain.comment .sec.comt ul.list>li .comts .pic{width: 36px;position:absolute;display:block;left:0px;top: 5px;height: auto;}
.contain.comment .sec.comt ul.list>li .comts .pic .img{display: block;padding-bottom: calc(4% / 3.4 * 100);width: 100%;}
.contain.comment .sec.comt ul.list>li .comts .pic .img img{object-fit: cover;border-radius: 100%;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;}
.contain.comment .sec.comt ul.list>li .comts .ment{margin-left: 50px;}
.contain.comment .sec.comt ul.list>li .comts .ment .name{font-size: 13px;font-family:"BlairMd","NotoSansCJKkr";display: inline-block;max-width: 100%;/* text-overflow: ellipsis; *//* white-space: nowrap; */overflow: hidden;}
.contain.comment .sec.comt ul.list>li .comts .ment .text{font-size: 11px; margin-top: 2px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info{font-size: 11px;display:flex;margin-top: 0px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info .time{color: #999999;padding:5px 0; margin-right: 15px;}
.contain.comment .sec.comt ul.list>li .comts .ment .info .btns{}
.contain.comment .sec.comt ul.list>li .comts .ment .info .btns .bt.rp{color: #999999; display: inline-block;padding:5px 0;}

.contain.comment .sec.comt ul.list>li ul{margin-left: 40px;margin-top: 10px;}
.contain.comment .sec.comt ul.list>li ul li{margin-top: 0px;}
.contain.comment .sec.comt ul.list>li ul li .comts .pic{}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .name{}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .text{}
.contain.comment .sec.comt ul.list>li ul li .comts .ment .info .time{}
.contain.comment .sec.comt ul.list + .uiLoadMore{ margin-top:calc(50vh - 100px );}
.contain.comment .sec.comt ul.list.load + .uiLoadMore{margin-top:0px;}



.contain.comment .sec.write{min-height: 56px;}
.contain.comment .sec.write .box{position: fixed;min-height: 56px;border-top: #c2c2c2 solid 1px;bottom: 0px;left: 0px;right: 0px;background: #ffffff;padding: 0 0 0 16px;}
.contain.comment .sec.write .box .pic{}
.contain.comment .sec.write .box .pic{width: 36px;position:absolute;display:block;left:16px;bottom: 8px;/* height: 45px; */}
.contain.comment .sec.write .box .pic .img{position: relative;display: block;padding-bottom: calc(4% / 3.5 * 100);width: 100%;}
.contain.comment .sec.write .box .pic .img img{object-fit: cover;border-radius: 100%;position:absolute;left:0px;top: 0px;height: 100%;width: 100%;}
.contain.comment .sec.write .box .write{margin: 0px 0 0px 52px;position:relative;padding: 11px 0 14px 0;}
.contain.comment .sec.write .box .write::before{content:"";width:1px;/* height:22px; */background: #dddddd;position:absolute;left:0px;bottom: 14px;top: 14px;}
.contain.comment .sec.write .box .write .ment{border: none;padding: 4px 80px 4px 10px;font-size: 13px;height: 30px;width: 100%;outline: none;resize: none;line-height: 170%;max-height: 200px;}
.contain.comment .sec.write .box .write .send{width:90px;height:55px;position:absolute;right: 0px;bottom: 0px;color: #70f5c4;display:flex;align-items: center;justify-content: center;font-family:"BlairMd";font-size: 13px;}












/* 룩등록 모델  */
.popLookReg{}
.popLookReg .list{padding-bottom: 20px;padding-top: 58px;}
.popLookReg .list>li{}
.popLookReg .list>li:first-child .bt{border-top-width: 0px;}
.popLookReg .list>li .bt{font-size: 13px;padding: 35px 10px 11px 16px;font-family: "BlairMd";font-weight: bold;display: block;border-top: #000000 solid 1px;}
.popLookReg .list>li>ol{ text-align: left; font-size: 13px;}
.popLookReg .list>li>ol>li{border-top: #000000 solid 1px;}
.popLookReg .list>li:last-child{border-bottom: #000000 solid 1px;}
.popLookReg .list>li>ol>li .box{display: block;padding: 24px 77px 24px 77px;min-height: 80px;line-height: 17px;position: relative;text-align: center;font-family: "BlairMd";justify-content: center;}
.popLookReg .list>li>ol>li .pic{position:absolute;left: 30px;top: 50%;display: block;width: 40px;transform: translateY(-50%);}
.popLookReg .list>li>ol>li .pic .img{padding-bottom: calc( 4% / 3.5 * 100);display: block;position: relative;width: 100%;}
.popLookReg .list>li>ol>li .pic .img img{width:40px;border-radius: 100%;display: block;position: absolute;left: 0px;object-fit: cover;height: 100%;}
.popLookReg .list>li>ol>li .name{display:block;}
.popLookReg .list>li>ol>li .info{display:block;font-size: 11px;color: #999999;}
.popLookReg .list>li>ol>li .none{display:block;padding: 7px 0;}

/* 룩등록 */
.contain.lkreg .hdt{font-family:"BlairMd";font-size: 24px;min-height: 130px;/* text-align: center; */padding-top: 0px;line-height: 110%;margin-right: 0%;position: relative;}
.contain.lkreg .hdt em{position:relative;left:50%;transform: translateX(-50%);display: inline-block;}
.contain.lkreg.upload{}
.contain.lkreg .sec.photo{}
.contain.lkreg .sec.photo .pics{position: relative;}
.contain.lkreg .sec.photo .pics ul.list{display:flex;transform: translateX( calc(50% - 104px) );}
.contain.lkreg .sec.photo .pics ul.list>li{border: #000000 solid 2px;width:188px;position: relative;margin: 0px 10px;}
.contain.lkreg .sec.photo .pics ul.list>li:first-child{}
.contain.lkreg .sec.photo .pics ul.list>li .img{display:block;padding-bottom: calc(4% / 3 * 100 );position: relative;}
.contain.lkreg .sec.photo .pics ul.list>li .img img{position:absolute;left:0px;top: 0px;width:100%;object-fit: cover;height: 100%;}
.contain.lkreg .sec.photo .pics ul.list>li .bts{position:absolute;right: 0px;top: 0px;z-index: 100;}
.contain.lkreg .sec.photo .pics ul.list>li .bts .del{width: 30px;height: 30px;overflow:hidden;background: url(../images/common/popLayerClose.png) no-repeat center;background-size: 20px auto;background-color:transparent;border:none;padding:0;cursor: pointer;z-index: 100;font-size: 0;display: block;}
.contain.lkreg .sec.photo .pics ul.list>li .btnAdd{position:absolute;left:0px;top: 0px;bottom: 0px;display:block;height:100%;background: url(../images/common/intro_pic.png) no-repeat center;background-size: 74px auto;font-size: 0px;/* height: 100%; */width: 100%;}
 
.contain.lkreg .steps{height:36px;}
.contain.lkreg .steps ul.st{display:flex;border-top: #000000 solid 1px;align-items: center;position:fixed;left:0;right:0px;bottom: calc( 60px + env(safe-area-inset-bottom) );z-index: 100;}
.contain.lkreg .steps ul.st>li{width:100%;text-align: right;font-family:"BlairMd";font-size: 21px;color: #000000;border-left: #000000 solid 1px;padding-right: 12px;background: #ffffff;/* color: #acacac; */}
.contain.lkreg .steps ul.st>li:first-child{ border-left-width: 0px;}
.contain.lkreg .steps.st1{}
.contain.lkreg .steps.st1 ul.st>li:nth-child(1){color: #ffffff;background: #000000;}
.contain.lkreg .steps.st1 ul.st>li:nth-child(1) ~ li{ background-color: #ffffff; color: #000000;}
.contain.lkreg .steps.st2{}
.contain.lkreg .steps.st2 ul.st>li:nth-child(2) {color: #ffffff;background: #000000;}
.contain.lkreg .steps.st2 ul.st>li:nth-child(2) ~ li{ background-color: #ffffff; color: #000000;}

.contain.lkreg.cate{}
.contain.lkreg.cate .filters{padding: 0px 16px 16px 16px;position: relative;z-index: 10;}
.contain.lkreg.cate .filters>li{margin-top: 50px;}
.contain.lkreg.cate .filters>li:first-child{margin-top: 0px;}
.contain.lkreg.cate .filters>li .ht{font-size: 15px;margin-bottom: 14px;color: #000000;font-family:"BlairMd";}
.contain.lkreg.cate .filters>li .ct{}

.contain.lkreg.cate .filters>li.gender{ border-bottom: #cccccc solid 1px;}
.contain.lkreg.cate .filters>li.gender label + label{ margin-left: 20px;}
.contain.lkreg.cate .filters>li.gender .ht{ font-size: 12px; color: #70f5c4; margin-bottom: 2px;}
.contain.lkreg.cate .filters>li.gender .ct{}
.contain.lkreg.cate .filters>li.country{border-bottom: #cccccc solid 1px;margin-top: 10px;}
.contain.lkreg.cate .filters>li.country .ht{ font-size: 12px; color: #70f5c4; margin-bottom: 2px;}
.contain.lkreg.cate .filters>li.country .select{width: 150px;padding-left: 0;height: 30px;font-size: 13px;margin-bottom: 3px;}

.contain.lkreg.cate .filters>li.style{}
.contain.lkreg.cate .filters>li.style .ct{margin: 0px -16px;overflow: hidden;}
.contain.lkreg.cate .filters>li.style ul.list{display:flex;flex-wrap: wrap;justify-content: flex-start;margin: 0 -1px 0 -1px;border-top: #000000 solid 1px;}
.contain.lkreg.cate .filters>li.style ul.list>li{width: calc( 100% - 0px);padding: 0 10px;border: #000000 solid;border-width: 0px 1px 1px 0;white-space: nowrap;}
.contain.lkreg.cate .filters>li.style ul.list>li label{position:relative;display: flex;text-align: center;align-items: center;}
.contain.lkreg.cate .filters>li.style ul.list>li input{ position:absolute; left:0px;;}
.contain.lkreg.cate .filters>li.style ul.list>li input:checked + .tit{color: #70f5c4;}
.contain.lkreg.cate .filters>li.style ul.list>li .tit{display: flex;height: 33px;font-size: 16px;font-family: "BlairMd";text-transform: uppercase;color: #000000;align-items: center;justify-content: center;width: 100%;}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(1){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(2){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(3){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(4){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(5){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(6){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(7){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(8){}
.contain.lkreg.cate .filters>li.style ul.list>li:nth-child(9){}

.contain.lkreg.cate .filters>li.hash{}
.contain.lkreg.cate .filters>li.hash .ipt{position:relative;padding: 0px 0px 20px 0px;}
.contain.lkreg.cate .filters>li.hash .ipt .input{background: url(../images/common/icoFormSch.png) no-repeat 0 8px;background-size: 24px auto;padding: 5px 60px 5px 32px;font-size: 20px;}
.contain.lkreg.cate .filters>li.hash .ipt .bt.save{position:absolute;right: -9px;top: 4px;font-family:"BlairMd";display:block;padding:5px 10px;}
.contain.lkreg.cate .filters>li.hash .tags{margin: 0 -16px;padding: 5px 0px;text-align: center;border: #c2c2c2 solid;border-width: 1px 0px;overflow-x: auto;}
.contain.lkreg.cate .filters>li.hash .tags .tg{position:relative;padding: 3px 7px 3px 7px;display: block; display:inline-block; vertical-align: middle;}
.contain.lkreg.cate .filters>li.hash .tags .tg i{font-size: 13px;display: inline-block;vertical-align: 1px;}
.contain.lkreg.cate .filters>li.hash .tags .tg .del{width: 24px;height: 24px;background: url(../images/common/delete_hash.png ) no-repeat center center;background-size: 18px auto;position:absolute;right: -2px;top: 2px;font-size: 0px;}
.contain.lkreg.cate .filters>li.text{}
.contain.lkreg.cate .filters>li.text .ht{/* border-bottom: #000000 solid 1px; */}
.contain.lkreg.cate .filters>li.text .ct{ position:relative; margin: 0px -16px; border: #000000 solid 1px; border-width: 1px 0px; padding: 10px 16px; }
.contain.lkreg.cate .filters>li.text .ct .num{position:absolute;right: 16px;top: -32px;font-family:"BlairMd";color: #cccccc;font-size: 11px;}
.contain.lkreg.cate .filters>li.text .ct .textarea{border: none;padding: 0px;}
