@charset "utf-8";
/* 로긴,가입 */
.popJoinPre{}
.popJoinPre .poptents{}
.popJoinPre .box{padding: 69px 16px 170px 16px;min-height: calc(100vh - 169px);text-align: center;}
.popJoinPre .box .hdt{font-size: 24px;color: #000000;}
.popJoinPre .box .hdt em{ font-weight: bold;}
.popJoinPre .box .bts{margin-top: 30px;}
.popJoinPre .box .bts .btn{ width:100%; margin-top: 16px}
.popJoinPre .joinSet{min-height: 160px;text-align: center;width: 100%;padding: 28px 0;position: fixed;bottom: 0;}
.popJoinPre .joinSet .hdt{font-size: 14px;}
.popJoinPre .joinSet .list{display:flex;justify-content: space-between;width: 230px;margin: auto;padding-top: 23px;}
.popJoinPre .joinSet .list>li{}
.popJoinPre .joinSet .list>li .bt{width:56px;height:56px; background:no-repeat; background-size: 100% auto; display:block;  font-size: 0px;}
.popJoinPre .joinSet .list>li.instar .bt{background-image:url(../images/common/ico_instargram.png);}
.popJoinPre .joinSet .list>li.kakao .bt{background-image:url(../images/common/ico_kakaotalk.png);}
.popJoinPre .joinSet .list>li.facebook .bt{background-image:url(../images/common/ico_facebook.png);}

/* 로그인 */
.popLogin{}
.popLogin .poptents{}
.popLogin .loginForm{padding: 69px 16px 20px 16px;}
.popLogin .loginForm .hdt{font-size: 24px;text-align: center;color: #000000;}
.popLogin .loginForm .hdt em{ font-weight: bold;}
.popLogin .loginForm .form{margin-top: -5px;}
.popLogin .loginForm .form .uiIptPlc{}
.popLogin .loginForm .form .uiIptPlc .plc{}
.popLogin .loginForm .form .uiIptPlc .input{}
.popLogin .loginForm .form .msg_error{margin-top: 4px;}
.popLogin .loginForm .form .btns{margin-top: 12px;}
.popLogin .loginForm .form .btns .btn{width:100%;}
.popLogin .loginForm .info{display:flex; justify-content: space-between; font-size: 12px; align-items: center; margin-top: 10px;}
.popLogin .loginForm .info .save{}
.popLogin .loginForm .info .save label{}
.popLogin .loginForm .info .txt{}
.popLogin .loginForm .info .txt .link{display: block;padding: 4px 0;}


/* 가입 */
.popJoin{}
.popJoin .poptents{}
.popJoin .joinForm{padding: 69px 16px 20px 16px;}
.popJoin .joinForm .hdt{font-size: 24px;text-align: center;color: #000000;}
.popJoin .joinForm .hdt em{ font-weight: bold;}
.popJoin .joinForm .form{margin-top: -5px;}
.popJoin .joinForm .form .memcate{display:flex;justify-content: center;margin: 25px 0px 0px 0px;}
.popJoin .joinForm .form .memcate .radio{margin: 0 10px;font-size: 12px;}
.popJoin .joinForm .form .uiIptPlc{}
.popJoin .joinForm .form .uiIptPlc .plc{}
.popJoin .joinForm .form .uiIptPlc .input{}
.popJoin .joinForm .form .msgs{margin-top: 8px; font-size: 12px; color: #999999;}
.popJoin .joinForm .form .btns{margin-top: 20px;}
.popJoin .joinForm .form .btns .btn{width:100%;}